In [1]:
from matplotlib import font_manager, rc  # 한글사용 matplotlib
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import csv
import codecs
import numpy as np
import json
import tensorflow as tf
import jpype
from konlpy.tag import Okt
from IPython.core.interactiveshell import InteractiveShell
from pandas import DataFrame as df
InteractiveShell.ast_node_interactivity = 'all'
os.chdir("C:/Users/windd/pythondata")
%matplotlib inline
font_name = font_manager.FontProperties(
    fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
rdata = pd.read_csv('bigcontest/2019빅콘테스트_퓨처스리그2/AFSNT.csv',engine='python',encoding='cp949')

In [3]:
# 지연 여부 코딩

dly = []
for i in rdata.DLY:
    if i =='Y':
        dly.append(1)
    elif i =='N':
        dly.append(0)
rdata['DLY2'] = dly

In [4]:
yy = rdata.SDT_YY
mm = rdata.SDT_MM
dd = rdata.SDT_DD

# 날짜 병합 함수
from datetime import datetime

def time_merge(year,month,day):
    date = []
    for i in range(len(year)):
        date_str = str(year[i])+'-'+str(month[i])+'-'+str(day[i])
        date_date = datetime.strptime(date_str,'%Y-%m-%d')
        date.append(date_date)
    return date
a = time_merge(yy,mm,dd)

rdata['DATE'] = a

In [5]:
# 결항데이터 제거

rdata2 =rdata[~(rdata['CNL']=='Y')]
rdata2 = rdata2[~(rdata2.REG.isnull())]
rdata2.isnull().sum()

SDT_YY         0
SDT_MM         0
SDT_DD         0
SDT_DY         0
ARP            0
ODP            0
FLO            0
FLT            0
REG            0
AOD            0
IRR            0
STT            0
ATT            0
DLY            0
DRR       860509
CNL            0
CNR       979446
DLY2           0
DATE           0
dtype: int64

In [7]:
rdata3 = rdata2[['DATE','FLO','FLT','REG','ARP','ODP','AOD','IRR','DLY','STT','ATT','DLY2']]
rdata3 = rdata3.sort_values(by=['FLT','DATE'])
rdata_sorted = rdata3.sort_values(by=['DATE','FLO','FLT','REG'])
rdata_sorted.index = list(range(len(rdata_sorted)))
len(rdata_sorted)

979446

In [8]:
rdata_sorted.index = list(range(len(rdata_sorted)))

# 시간 범주화 함수 정의
def time_dicrete(stt):
    time_dic = []
    for i in range(len(stt)):
        st = int(stt[i].split(':')[0])*60 + int(stt[i].split(':')[1])
        if st >= 300 and st < 480:
            time_dic.append('5시-8시')
        elif st >= 480 and st < 660:
            time_dic.append('8시-11시')
        elif st >= 660 and st < 840:
            time_dic.append('11시-14시')
        elif st >= 840 and st < 1020:
            time_dic.append('14시-17시')
        elif st >= 1020 and st < 1200:
            time_dic.append('17시-20시')
        elif st >= 1200 and st < 1380:
            time_dic.append('20시-23시')
        elif st >=1380 or st<300:
            time_dic.append('23시-3시')
    return time_dic  

stt = list(rdata_sorted.STT)

a = time_dicrete(stt)

In [9]:
# 실제시각, 스케줄 시간 차이 계산 함수 정의

def time_difference(att,stt):
    time_dif = []
    for i in range(len(att)):
        at = int(att[i].split(':')[0])*60 + int(att[i].split(':')[1])
        st = int(stt[i].split(':')[0])*60 + int(stt[i].split(':')[1])
        time_dif.append(at-st)
    return time_dif

In [10]:
att = rdata_sorted.ATT
stt = rdata_sorted.STT

time_dif = time_difference(att,stt)

In [11]:
# 시간범주화, 시간차이 변수 추가

rdata_sorted['T_DISC'] = a
rdata_sorted['DIF'] = time_dif

In [12]:
# 일단 지연인데 시간차가 -로 많이 나는것들.. 일단은 그냥 지우고 시작 
# 지우는게 맞는거 같음

rdata_sorted[((rdata_sorted['DIF']<30) & (rdata_sorted['DLY2']==1))]
rdata_sorted = rdata_sorted[~((rdata_sorted['DIF']<30) & (rdata_sorted['DLY2']==1))]
len(rdata_sorted)

,DATE,FLO,FLT,REG,ARP,ODP,AOD,IRR,DLY,STT,ATT,DLY2,T_DISC,DIF
406103,2018-01-11,J,J1257,SEw3NzE5,ARP1,ARP3,A,N,Y,16:35,1:43,1,14시-17시,-892
406104,2018-01-11,J,J1257,SEw3NzE5,ARP3,ARP1,D,N,Y,15:25,0:56,1,14시-17시,-869
540840,2018-05-18,L,L1735,SEw4MjM1,ARP3,ARP1,A,N,Y,23:26,0:28,1,23시-3시,-1378

979443

# 현재는 출도착 맞지 않는 쌍이어도 진행했다.
# 이 부분은 확실치 않음
# 출도착 맞는 쌍으로만 진행하기도 했었음

In [18]:
# 출도착 쌍이 안맞긴함. 일단은 안 맞아도 그대로 진행했고
# 다른 버전은 출도착 맞는 쌍만 추출하여 진행했었다.


rdata_sorted.pivot_table(index='AOD',aggfunc='count',values='DLY')

# 생키다이어그램을 위한 전처리를 위해서 D만 생각한다.

rdata_d = rdata_sorted[rdata_sorted['AOD']=='D'].sort_values(['DATE','REG'])

        DLY
AOD
A    489864
D    489579

In [19]:
# 항공기의 스케줄 시간을 수치화시키는 함수 정의
# 이를 통해 시간에 따라서 정렬할 수 있다.

rdata_d.index = list(range(len(rdata_d)))

def time(stt):
    time_dic = []
    for i in range(len(stt)):
        st = int(stt[i].split(':')[0])*60 + int(stt[i].split(':')[1])
        time_dic.append(st)
    return time_dic
time_dic = time(rdata_d.STT)

In [20]:
# 스케줄 시간 수치화 변수 할당

rdata_d['STT2'] = time_dic

In [21]:
# 날짜, 등록기호, 출발시간 순으로 보면 연결되었다는 것을 알 수 있다.

rdata_d = rdata_d.sort_values(['DATE','REG','STT2'])
rdata_d.index = list(range(len(rdata_d)))
rdata_d

,DATE,FLO,FLT,REG,ARP,ODP,AOD,IRR,DLY,STT,ATT,DLY2,T_DISC,DIF,STT2
0,2017-01-01,A,A1981,SEw3MjQ3,ARP1,ARP3,D,N,N,7:20,7:30,0,5시-8시,10,440
1,2017-01-01,A,A1954,SEw3MjQ3,ARP3,ARP1,D,N,Y,9:15,10:04,1,8시-11시,49,555
2,2017-01-01,A,A1983,SEw3MjQ3,ARP1,ARP3,D,N,Y,11:05,11:55,1,11시-14시,50,665
3,2017-01-01,A,A1984,SEw3MjQ3,ARP3,ARP1,D,N,Y,13:00,13:40,1,11시-14시,40,780
4,2017-01-01,A,A1985,SEw3MjQ3,ARP1,ARP3,D,N,Y,14:50,15:49,1,14시-17시,59,890
5,2017-01-01,A,A1934,SEw3MjQ3,ARP3,ARP1,D,N,Y,16:45,17:45,1,14시-17시,60,1005
6,2017-01-01,A,A1937,SEw3MjQ3,ARP1,ARP3,D,N,Y,18:35,19:38,1,17시-20시,63,1115
7,2017-01-01,A,A1978,SEw3MjQ3,ARP3,ARP1,D,N,Y,20:40,21:42,1,20시-23시,62,1240
8,2017-01-01,J,J1216,SEw3NDYw,ARP1,ARP3,D,N,N,9:55,10:13,0,8시-11시,18,595
9,2017-01-01,J,J1217,SEw3NDYw,ARP3,ARP1,D,N,N,12:10,12:25,0,11시-14시,15,730
10,2017-01-01,J,J1226,SEw3NDYw,ARP1,ARP3,D,N,N,14:25,14:38,0,14시-17시,13,865
11,2017-01-01,J,J1229,SEw3NDYw,ARP3,ARP1,D,N,N,16:30,16:59,0,14시-17시,29,990
12,2017-01-01,J,J1244,SEw3NDYw,ARP1,ARP3,D,N,N,18:40,18:57,0,17시-20시,17,1120
13,2017-01-01,J,J1245,SEw3NDYw,ARP3,ARP1,D,N,N,20:45,21:08,0,20시-23시,23,1245
14,2017-01-01,J,J1212,SEw3NTI1,ARP1,ARP3,D,N,N,9:00,9:14,0,8시-11시,14,540
15,2017-01-01,J,J1213,SEw3NTI1,ARP3,ARP1,D,N,N,11:10,11:30,0,11시-14시,20,670
16,2017-01-01,J,J1222,SEw3NTI1,ARP1,ARP3,D,N,N,13:35,13:46,0,11시-14시,11,815
17,2017-01-01,J,J1227,SEw3NTI1,ARP3,ARP1,D,N,N,15:30,15:50,0,14시-17시,20,930
18,2017-01-01,J,J1240,SEw3NTI1,ARP1,ARP3,D,N,N,18:05,18:19,0,17시-20시,14,1085
19,2017-01-01,J,J1243,SEw3NTI1,ARP3,ARP1,D,N,N,20:10,20:28,0,20시-23시,18,1210
20,2017-01-01,J,J1465,SEw3NTI2,ARP2,ARP15,D,Y,N,10:40,10:22,0,8시-11시,-18,640
21,2017-01-01,J,J1010,SEw3NTQw,ARP2,ARP3,D,N,N,10:40,10:54,0,8시-11시,14,640
22,2017-01-01,J,J1221,SEw3NTQw,ARP3,ARP1,D,N,N,13:35,13:56,0,11시-14시,21,815
23,2017-01-01,J,J1230,SEw3NTQw,ARP1,ARP3,D,N,N,15:45,15:57,0,14시-17시,12,945
24,2017-01-01,J,J1017,SEw3NTQw,ARP3,ARP2,D,N,N,18:10,18:32,0,17시-20시,22,1090
25,2017-01-01,I,I1551,SEw3NTU3,ARP6,ARP3,D,N,N,7:30,7:38,0,5시-8시,8,450
26,2017-01-01,I,I1552,SEw3NTU3,ARP3,ARP6,D,N,N,9:10,9:16,0,8시-11시,6,550
27,2017-01-01,I,I1553,SEw3NTU3,ARP6,ARP3,D,N,N,10:50,11:01,0,8시-11시,11,650
28,2017-01-01,I,I1554,SEw3NTU3,ARP3,ARP6,D,N,N,12:30,12:43,0,11시-14시,13,750
29,2017-01-01,I,I1557,SEw3NTU3,ARP6,ARP3,D,N,N,14:10,14:26,0,14시-17시,16,850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489549,2019-06-30,H,H1606,SEw4MzM3,ARP3,ARP8,D,N,N,16:50,17:11,0,14시-17시,21,1010
489550,2019-06-30,H,H1605,SEw4MzM3,ARP8,ARP3,D,N,N,18:30,18:43,0,17시-20시,13,1110
489551,2019-06-30,H,H1126,SEw4MzM3,ARP3,ARP1,D,N,N,20:00,20:18,0,20시-23시,18,1200
489552,2019-06-30,H,H1101,SEw4MzMx,ARP1,ARP3,D,N,N,6:25,6:34,0,5시-8시,9,385
489553,2019-06-30,H,H1602,SEw4MzMx,ARP3,ARP8,D,N,N,8:20,8:38,0,8시-11시,18,500
489554,2019-06-30,H,H1601,SEw4MzMx,ARP8,ARP3,D,N,N,10:15,10:22,0,8시-11시,7,615
489555,2019-06-30,H,H1112,SEw4MzMx,ARP3,ARP1,D,N,N,11:40,11:48,0,11시-14시,8,700
489556,2019-06-30,H,H1119,SEw4MzMx,ARP1,ARP3,D,N,N,13:30,13:39,0,11시-14시,9,810
489557,2019-06-30,H,H1510,SEw4MzMx,ARP3,ARP2,D,N,N,15:30,15:40,0,14시-17시,10,930
489558,2019-06-30,H,H1515,SEw4MzMx,ARP2,ARP3,D,N,N,17:05,17:19,0,17시-20시,14,1025
489559,2019-06-30,H,H1514,SEw4MzMx,ARP3,ARP2,D,N,N,18:30,18:51,0,17시-20시,21,1110
489560,2019-06-30,L,L1703,SEw4MzU0,ARP1,ARP3,D,N,N,7:00,7:11,0,5시-8시,11,420
489561,2019-06-30,L,L1706,SEw4MzU0,ARP3,ARP1,D,N,N,8:45,9:02,0,8시-11시,17,525
489562,2019-06-30,L,L1701,SEw4MzU0,ARP1,ARP3,D,Y,N,10:50,11:01,0,8시-11시,11,650
489563,2019-06-30,L,L1702,SEw4MzU0,ARP3,ARP1,D,Y,N,12:35,12:47,0,11시-14시,12,755
489564,2019-06-30,L,L1703,SEw4MzU0,ARP1,ARP3,D,Y,N,16:00,16:13,0,14시-17시,13,960
489565,2019-06-30,L,L1932,SEw4MzU0,ARP3,ARP7,D,N,N,18:10,18:33,0,17시-20시,23,1090
489566,2019-06-30,B,B1111,SEw4MzY1,ARP2,ARP3,D,N,N,13:20,13:31,0,11시-14시,11,800
489567,2019-06-30,B,B1110,SEw4MzY1,ARP3,ARP2,D,N,N,14:55,15:10,0,14시-17시,15,895
489568,2019-06-30,B,B1117,SEw4MzY1,ARP2,ARP3,D,N,N,17:00,17:09,0,17시-20시,9,1020
489569,2019-06-30,B,B1116,SEw4MzY1,ARP3,ARP2,D,N,N,18:35,18:49,0,17시-20시,14,1115
489570,2019-06-30,B,B1828,SEw4MzY1,ARP2,ARP1,D,N,N,21:00,21:07,0,20시-23시,7,1260
489571,2019-06-30,L,L1801,SEw4MzYz,ARP4,ARP3,D,N,N,6:20,6:29,0,5시-8시,9,380
489572,2019-06-30,L,L1702,SEw4MzYz,ARP3,ARP1,D,N,N,7:55,8:05,0,5시-8시,10,475
489573,2019-06-30,L,L1707,SEw4MzYz,ARP1,ARP3,D,N,N,9:45,9:57,0,8시-11시,12,585
489574,2019-06-30,L,L1712,SEw4MzYz,ARP3,ARP1,D,N,N,11:35,11:40,0,11시-14시,5,695
489575,2019-06-30,L,L1717,SEw4MzYz,ARP1,ARP3,D,N,N,13:20,13:36,0,11시-14시,16,800
489576,2019-06-30,L,L1722,SEw4MzYz,ARP3,ARP1,D,N,N,15:05,15:21,0,14시-17시,16,905
489577,2019-06-30,L,L1727,SEw4MzYz,ARP1,ARP3,D,N,N,17:25,17:30,0,17시-20시,5,1045
489578,2019-06-30,L,L1808,SEw4MzYz,ARP3,ARP4,D,N,N,19:10,19:24,0,17시-20시,14,1150

In [22]:
# 출도착 같은 거 제거
# 공항1 -> 공항1 로 가는 데이터 있었음

rdata_d = rdata_d[~((rdata_d['ARP']=='ARP1') & (rdata_d['ODP']=='ARP1'))]
rdata_d = rdata_d.sort_values(['DATE','REG','STT2'])
rdata_d.index = list(range(len(rdata_d)))

In [24]:
# 전처리 이해 예제
# x는 하나의 등록기호가 하루의 얼마나 운행하는지 알 수 있고
# 하루에 운행된 것은 연결되었다고 판단
# y는 일별로 구분해야되기 때문에 하루에 운행하는 횟수를 리스트로 만들었다
# y를 참조해서 하루에 운행한 것들을 표현

x = rdata_d[rdata_d['REG']=='SEw3NzE4'][['DATE','REG','ARP','ODP','STT2']]
x = x.sort_values(['DATE','STT2'])
x.index = list(range(len(x)))
list1 = list(x.ARP+','+ x.ODP)
y = x.pivot_table(index='DATE',aggfunc='count',values='REG')
y = y.reset_index()
x

           DATE       REG    ARP    ODP  STT2
0    2017-01-01  SEw3NzE4   ARP6   ARP3   510
1    2017-01-01  SEw3NzE4   ARP3   ARP6   605
2    2017-01-01  SEw3NzE4   ARP6   ARP3   705
3    2017-01-01  SEw3NzE4   ARP3   ARP6   805
4    2017-01-01  SEw3NzE4   ARP6   ARP3   910
5    2017-01-01  SEw3NzE4   ARP3   ARP1  1040
6    2017-01-01  SEw3NzE4   ARP1   ARP3  1150
7    2017-01-01  SEw3NzE4   ARP3   ARP1  1255
8    2017-01-02  SEw3NzE4   ARP1   ARP2   540
9    2017-01-02  SEw3NzE4   ARP2   ARP1   630
10   2017-01-02  SEw3NzE4   ARP1   ARP3   730
11   2017-01-02  SEw3NzE4   ARP3   ARP2   840
12   2017-01-03  SEw3NzE4   ARP2   ARP3  1145
13   2017-01-03  SEw3NzE4   ARP3   ARP2  1240
14   2017-01-04  SEw3NzE4   ARP2   ARP3   430
15   2017-01-04  SEw3NzE4   ARP3   ARP2   530
16   2017-01-04  SEw3NzE4   ARP2  ARP15   630
17   2017-01-04  SEw3NzE4  ARP15   ARP2  1175
18   2017-01-05  SEw3NzE4   ARP2   ARP1  1170
19   2017-01-05  SEw3NzE4   ARP1   ARP3  1260
20   2017-01-06  SEw3NzE4   ARP3   ARP1   480
21   2017-01-06  SEw3NzE4   ARP1   ARP3   580
22   2017-01-06  SEw3NzE4   ARP3   ARP6   705
23   2017-01-06  SEw3NzE4   ARP6   ARP3   805
24   2017-01-06  SEw3NzE4   ARP3   ARP8   960
25   2017-01-06  SEw3NzE4   ARP8   ARP3  1050
26   2017-01-06  SEw3NzE4   ARP3   ARP1  1140
27   2017-01-07  SEw3NzE4   ARP1   ARP3   405
28   2017-01-07  SEw3NzE4   ARP3   ARP8   515
29   2017-01-07  SEw3NzE4   ARP8   ARP3   600
...         ...       ...    ...    ...   ...
3310 2019-06-13  SEw3NzE4   ARP2   ARP1   880
3311 2019-06-13  SEw3NzE4   ARP1   ARP2  1020
3312 2019-06-13  SEw3NzE4   ARP2   ARP1  1120
3313 2019-06-13  SEw3NzE4   ARP1   ARP2  1200
3314 2019-06-14  SEw3NzE4   ARP2  ARP15   810
3315 2019-06-15  SEw3NzE4  ARP15   ARP2  1175
3316 2019-06-16  SEw3NzE4   ARP2   ARP3   455
3317 2019-06-16  SEw3NzE4   ARP3   ARP1   720
3318 2019-06-16  SEw3NzE4   ARP1   ARP2   840
3319 2019-06-16  SEw3NzE4   ARP2   ARP1   940
3320 2019-06-16  SEw3NzE4   ARP1   ARP2  1080
3321 2019-06-16  SEw3NzE4   ARP2   ARP1  1180
3322 2019-06-17  SEw3NzE4   ARP1   ARP2   600
3323 2019-06-17  SEw3NzE4   ARP2   ARP1   700
3324 2019-06-17  SEw3NzE4   ARP1   ARP2   840
3325 2019-06-17  SEw3NzE4   ARP2  ARP15   990
3326 2019-06-17  SEw3NzE4  ARP15   ARP2  1105
3327 2019-06-19  SEw3NzE4   ARP2  ARP15   990
3328 2019-06-21  SEw3NzE4  ARP15   ARP4  1175
3329 2019-06-22  SEw3NzE4   ARP4  ARP15   430
3330 2019-06-22  SEw3NzE4  ARP15   ARP4  1175
3331 2019-06-23  SEw3NzE4   ARP4  ARP15   430
3332 2019-06-23  SEw3NzE4  ARP15   ARP4  1175
3333 2019-06-24  SEw3NzE4   ARP4  ARP15   415
3334 2019-06-24  SEw3NzE4  ARP15   ARP2  1035
3335 2019-06-24  SEw3NzE4   ARP2   ARP3  1150
3336 2019-06-24  SEw3NzE4   ARP3   ARP2  1245
3337 2019-06-25  SEw3NzE4   ARP2  ARP15   420
3338 2019-06-25  SEw3NzE4  ARP15   ARP4  1175
3339 2019-06-26  SEw3NzE4   ARP4  ARP15   430

[3340 rows x 5 columns]

In [25]:
# 최종적으로 데이터프레임으로 만들면 
# 각 행은 각 날짜에 운행한 것이며
# 열은 링크(엣지)로 생각하면 된다.

a=[]
b=0
qq= []

for i in range(len(y)):
    
    a = list1[b:y['REG'][i]+b]
    b += len(a)
    qq.append(a)
    
df = pd.DataFrame(qq)
df

,0,1,2,3,4,5,6,7,8,9
0,"ARP6,ARP3","ARP3,ARP6","ARP6,ARP3","ARP3,ARP6","ARP6,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None
1,"ARP1,ARP2","ARP2,ARP1","ARP1,ARP3","ARP3,ARP2",None,None,None,None,None,None
2,"ARP2,ARP3","ARP3,ARP2",None,None,None,None,None,None,None,None
3,"ARP2,ARP3","ARP3,ARP2","ARP2,ARP15","ARP15,ARP2",None,None,None,None,None,None
4,"ARP2,ARP1","ARP1,ARP3",None,None,None,None,None,None,None,None
5,"ARP3,ARP1","ARP1,ARP3","ARP3,ARP6","ARP6,ARP3","ARP3,ARP8","ARP8,ARP3","ARP3,ARP1",None,None,None
6,"ARP1,ARP3","ARP3,ARP8","ARP8,ARP3","ARP3,ARP1","ARP1,ARP2","ARP2,ARP3","ARP3,ARP2",None,None,None
7,"ARP2,ARP3","ARP3,ARP4","ARP4,ARP3","ARP3,ARP13","ARP13,ARP3","ARP3,ARP4","ARP4,ARP3","ARP3,ARP2",None,None
8,"ARP2,ARP15","ARP15,ARP2","ARP2,ARP3","ARP3,ARP2",None,None,None,None,None,None
9,"ARP2,ARP3","ARP3,ARP4","ARP4,ARP3","ARP3,ARP2","ARP2,ARP3","ARP3,ARP1",None,None,None,None
10,"ARP1,ARP2","ARP2,ARP1","ARP1,ARP2",None,None,None,None,None,None,None
11,"ARP2,ARP3","ARP3,ARP6","ARP6,ARP3","ARP3,ARP1","ARP1,ARP3",None,None,None,None,None
12,"ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3",None,None,None,None,None,None
13,"ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP2","ARP2,ARP1","ARP1,ARP3","ARP3,ARP1",None,None
14,"ARP1,ARP3","ARP3,ARP8","ARP8,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP8","ARP8,ARP3","ARP3,ARP1",None,None
15,"ARP1,ARP2","ARP2,ARP1","ARP1,ARP2","ARP2,ARP1","ARP1,ARP2",None,None,None,None,None
16,"ARP2,ARP3","ARP3,ARP4","ARP4,ARP3","ARP3,ARP6","ARP6,ARP3","ARP3,ARP1","ARP1,ARP3",None,None,None
17,"ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3",None,None,None,None,None,None
18,"ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP2","ARP2,ARP1","ARP1,ARP2",None,None,None
19,"ARP2,ARP15",None,None,None,None,None,None,None,None,None
20,"ARP15,ARP2","ARP2,ARP1","ARP1,ARP3",None,None,None,None,None,None,None
21,"ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP8","ARP8,ARP3","ARP3,ARP1","ARP1,ARP3",None,None
22,"ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3",None,None,None,None,None,None
23,"ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP8","ARP8,ARP3","ARP3,ARP1",None
24,"ARP1,ARP3","ARP3,ARP8","ARP8,ARP3","ARP3,ARP1","ARP1,ARP3",None,None,None,None,None
25,"ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP8","ARP8,ARP3","ARP3,ARP1","ARP1,ARP3",None,None
26,"ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3",None,None
27,"ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3",None,None,None,None,None,None
28,"ARP3,ARP1","ARP1,ARP2","ARP2,ARP1","ARP1,ARP3","ARP3,ARP9","ARP9,ARP3","ARP3,ARP8","ARP8,ARP3","ARP3,ARP1",None
29,"ARP1,ARP3","ARP3,ARP8","ARP8,ARP3","ARP3,ARP1","ARP1,ARP2","ARP2,ARP1","ARP1,ARP3",None,None,None
...,...,...,...,...,...,...,...,...,...,...
684,"ARP2,ARP15",None,None,None,None,None,None,None,None,None
685,"ARP15,ARP2","ARP2,ARP15",None,None,None,None,None,None,None,None
686,"ARP15,ARP2",None,None,None,None,None,None,None,None,None
687,"ARP2,ARP3","ARP3,ARP2",None,None,None,None,None,None,None,None
688,"ARP2,ARP15","ARP15,ARP2",None,None,None,None,None,None,None,None
689,"ARP2,ARP15",None,None,None,None,None,None,None,None,None
690,"ARP15,ARP4",None,None,None,None,None,None,None,None,None
691,"ARP4,ARP15","ARP15,ARP2","ARP2,ARP1","ARP1,ARP2","ARP2,ARP1","ARP1,ARP2","ARP2,ARP1",None,None,None
692,"ARP1,ARP2","ARP2,ARP1","ARP1,ARP3","ARP3,ARP6","ARP6,ARP3","ARP3,ARP4","ARP4,ARP3","ARP3,ARP2",None,None
693,"ARP2,ARP3","ARP3,ARP4","ARP4,ARP3","ARP3,ARP12","ARP12,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP2",None,None
694,"ARP2,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP9","ARP9,ARP3","ARP3,ARP1",None,None,None,None
695,"ARP1,ARP2","ARP2,ARP1","ARP1,ARP2","ARP2,ARP1","ARP1,ARP9","ARP9,ARP1","ARP1,ARP3",None,None,None
696,"ARP3,ARP4","ARP4,ARP3","ARP3,ARP8","ARP8,ARP3","ARP3,ARP1","ARP1,ARP2","ARP2,ARP1",None,None,None
697,"ARP1,ARP9","ARP9,ARP3","ARP3,ARP14","ARP14,ARP3","ARP3,ARP6","ARP6,ARP3","ARP3,ARP2",None,None,None
698,"ARP2,ARP1","ARP1,ARP9","ARP9,ARP1","ARP1,ARP3","ARP3,ARP2",None,None,None,None,None
699,"ARP2,ARP3","ARP3,ARP2",None,None,None,None,None,None,None,None
700,"ARP2,ARP3","ARP3,ARP4","ARP4,ARP3","ARP3,ARP2",None,None,None,None,None,None
701,"ARP2,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3",None,None,None,None,None,None
702,"ARP3,ARP1","ARP1,ARP2","ARP2,ARP1","ARP1,ARP2","ARP2,ARP1","ARP1,ARP2","ARP2,ARP1","ARP1,ARP2",None,None
703,"ARP2,ARP15",None,None,None,None,None,None,None,None,None
704,"ARP15,ARP2",None,None,None,None,None,None,None,None,None
705,"ARP2,ARP3","ARP3,ARP1","ARP1,ARP2","ARP2,ARP1","ARP1,ARP2","ARP2,ARP1",None,None,None,None
706,"ARP1,ARP2","ARP2,ARP1","ARP1,ARP2","ARP2,ARP15","ARP15,ARP2",None,None,None,None,None
707,"ARP2,ARP15",None,None,None,None,None,None,None,None,None
708,"ARP15,ARP4",None,None,None,None,None,None,None,None,None
709,"ARP4,ARP15","ARP15,ARP4",None,None,None,None,None,None,None,None
710,"ARP4,ARP15","ARP15,ARP4",None,None,None,None,None,None,None,None
711,"ARP4,ARP15","ARP15,ARP2","ARP2,ARP3","ARP3,ARP2",None,None,None,None,None,None
712,"ARP2,ARP15","ARP15,ARP4",None,None,None,None,None,None,None,None
713,"ARP4,ARP15",None,None,None,None,None,None,None,None,None

In [26]:
# 전처리 진행

rdata_d = rdata_d.sort_values(['DATE','REG','STT2'])
rdata_d.index = list(range(len(rdata_d)))
reg_list = list(rdata_d.REG.unique())
rdata_ddd = rdata_d[['DATE','REG','ARP','ODP','STT2']]

ex = []
for i in reg_list:
    x = rdata_ddd[rdata_ddd['REG']== i][['DATE','REG','ARP','ODP','STT2']]
    x = x.sort_values(['DATE','STT2'])
    x.index = list(range(len(x)))
    list1 = list(x.ARP+','+x.ODP)
    y = x.pivot_table(index='DATE',aggfunc='count',values='REG')
    y = y.reset_index()
    a = []
    qq = []
    b= 0 
    for j in range(len(y)):
        a = list1[b: y['REG'][j]+b]
        b += len(a)
        qq.append(a)
    ex.append(qq)

In [27]:
ss = sum(ex,[])
pdpd = pd.DataFrame(ss)
pdpd

,0,1,2,3,4,5,6,7,8,9,10,11
0,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
1,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
2,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
3,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
4,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
5,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
6,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
7,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
8,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
9,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
10,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
11,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
12,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
13,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
14,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
15,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
16,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
17,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
18,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None,None,None
19,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None,None,None,None,None
20,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
21,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
22,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
23,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
24,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
25,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP15",None,None,None,None
26,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
27,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
28,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
29,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
88702,"ARP1,ARP3","ARP3,ARP6","ARP6,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP8","ARP8,ARP3","ARP3,ARP1",None,None,None,None
88703,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP6","ARP6,ARP3","ARP3,ARP1",None,None,None,None,None,None
88704,"ARP1,ARP3","ARP3,ARP1",None,None,None,None,None,None,None,None,None,None
88705,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP2","ARP2,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
88706,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP2","ARP2,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
88707,"ARP1,ARP3","ARP3,ARP6","ARP6,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP8","ARP8,ARP3","ARP3,ARP1",None,None,None,None
88708,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3",None,None,None,None,None
88709,"ARP3,ARP6","ARP6,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP6","ARP6,ARP3","ARP3,ARP1",None,None,None,None,None
88710,"ARP1,ARP3","ARP3,ARP1",None,None,None,None,None,None,None,None,None,None
88711,"ARP1,ARP3","ARP3,ARP6","ARP6,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP8","ARP8,ARP3","ARP3,ARP1",None,None,None,None
88712,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP6","ARP6,ARP3","ARP3,ARP1",None,None,None,None
88713,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP6","ARP6,ARP3","ARP3,ARP1",None,None,None,None
88714,"ARP1,ARP3","ARP3,ARP2","ARP2,ARP3","ARP3,ARP1",None,None,None,None,None,None,None,None
88715,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP6","ARP6,ARP3","ARP3,ARP1",None,None,None,None
88716,"ARP1,ARP3","ARP3,ARP6","ARP6,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP8","ARP8,ARP3","ARP3,ARP1",None,None,None,None
88717,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP8","ARP8,ARP3","ARP3,ARP1",None,None,None,None
88718,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP2","ARP2,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
88719,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP2","ARP2,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
88720,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP6","ARP6,ARP3","ARP3,ARP1",None,None,None,None
88721,"ARP1,ARP3","ARP3,ARP6","ARP6,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP8","ARP8,ARP3","ARP3,ARP1",None,None,None,None
88722,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP2","ARP2,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
88723,"ARP1,ARP3","ARP3,ARP6","ARP6,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP8","ARP8,ARP3","ARP3,ARP1",None,None,None,None
88724,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP6","ARP6,ARP3","ARP3,ARP1",None,None,None,None
88725,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP2","ARP2,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1",None,None,None,None
88726,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP6","ARP6,ARP3","ARP3,ARP1",None,None,None,None
88727,"ARP1,ARP2","ARP2,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP2","ARP2,ARP1",None,None,None,None,None,None
88728,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP1","ARP1,ARP3","ARP3,ARP8","ARP8,ARP3","ARP3,ARP1",None,None,None,None
88729,"ARP2,ARP15",None,None,None,None,None,None,None,None,None,None,None
88730,"ARP2,ARP15",None,None,None,None,None,None,None,None,None,None,None
88731,"ARP1,ARP3","ARP3,ARP1","ARP1,ARP15",None,None,None,None,None,None,None,None,None

In [29]:
# 개수 맞음

a = 0
for i in range(12):
    a += pdpd[i].value_counts().sum()
a

len(rdata_ddd)

489574

489574

In [39]:
# 각 열은 링크 수준에서 (0, 1, 2 등) 출발공항에서 도착공항으로 몇 회 운행했는지 파악 가능

link_table = pd.DataFrame()
출발노드 = []
도착노드 = []
링크 = []
횟수 = []

for i in range(12):
    idx = pdpd[i].value_counts()

    for j in range(len(idx)):
        split_list = idx.index[j].split(',')
        출발노드.append(split_list[0])
        도착노드.append(split_list[1])
        링크.append(i)
        횟수.append(idx[j])

link_table['출발노드'] = 출발노드
link_table['도착노드'] = 도착노드
link_table['링크'] = 링크
link_table['횟수'] = 횟수

In [41]:
link_table2 = link_table.sort_values(by=['출발노드','도착노드'])
link_table2

     출발노드   도착노드  링크    횟수
64   ARP1  ARP10   0     1
160  ARP1  ARP10   2     2
19   ARP1  ARP11   0   597
89   ARP1  ARP11   1   288
148  ARP1  ARP11   2    41
191  ARP1  ARP11   3    69
229  ARP1  ARP11   4   466
278  ARP1  ARP11   5   189
327  ARP1  ARP11   6    58
15   ARP1  ARP12   0   874
101  ARP1  ARP12   1    30
152  ARP1  ARP12   2    24
195  ARP1  ARP12   3    29
237  ARP1  ARP12   4    79
279  ARP1  ARP12   5   148
313  ARP1  ARP12   6   515
366  ARP1  ARP12   7    64
411  ARP1  ARP12   8     5
206  ARP1  ARP13   3     1
52   ARP1  ARP14   0     2
22   ARP1  ARP15   0   467
99   ARP1  ARP15   1    35
145  ARP1  ARP15   2    83
200  ARP1  ARP15   3    18
242  ARP1  ARP15   4    47
291  ARP1  ARP15   5    15
326  ARP1  ARP15   6    65
369  ARP1  ARP15   7    15
406  ARP1  ARP15   8    27
437  ARP1  ARP15   9     2
..    ...    ...  ..   ...
179  ARP8   ARP3   3   645
219  ARP8   ARP3   4  2590
263  ARP8   ARP3   5  1412
303  ARP8   ARP3   6  2398
351  ARP8   ARP3   7  1119
392  ARP8   ARP3   8   664
438  ARP8   ARP3   9     1
163  ARP8   ARP7   2     1
211  ARP8   ARP7   3     1
344  ARP8   ARP7   6     1
387  ARP8   ARP7   7     1
420  ARP8   ARP7   8     1
84   ARP9   ARP1   1   550
139  ARP9   ARP1   2   315
184  ARP9   ARP1   3   368
231  ARP9   ARP1   4   355
265  ARP9   ARP1   5   729
315  ARP9   ARP1   6   349
355  ARP9   ARP1   7   687
396  ARP9   ARP1   8   256
427  ARP9   ARP1   9   139
445  ARP9   ARP1  10     2
86   ARP9   ARP3   1   469
138  ARP9   ARP3   2   325
182  ARP9   ARP3   3   460
232  ARP9   ARP3   4   328
284  ARP9   ARP3   5    67
309  ARP9   ARP3   6   860
371  ARP9   ARP3   7     8
381  ARP9   ARP6   7     1

[449 rows x 4 columns]

In [42]:
# 중심성 분석 함수
# 가중치 고려

def get_degree_centrality(df,arp) :
    N = 15
    Z = df[(df['출발노드']==arp)|(df['도착노드']==arp)].횟수.sum()
    D = Z/(N-1)
    return D

In [43]:
# 중심성 분석 

arp_list = list(link_table2['출발노드'].unique())
center_link = pd.DataFrame(data=arp_list,columns=['공항'])
D_list = []

for i in arp_list:
    D = get_degree_centrality(link_table2, i)
    D_list.append(D)

center_link['중심성'] = D_list

center_link.sort_values('중심성',ascending = False)

       공항           중심성
8    ARP3  27912.785714
0    ARP1  21920.357143
7    ARP2   8598.428571
11   ARP6   2449.000000
9    ARP4   2385.857143
13   ARP8   2351.071429
10   ARP5   1138.642857
6   ARP15   1055.785714
14   ARP9    895.285714
3   ARP12    339.785714
4   ARP13    293.285714
2   ARP11    244.214286
12   ARP7    223.785714
5   ARP14    130.214286
1   ARP10      0.642857

In [44]:
# 가중치 고려 x

def degree_centrality(df,arp):
    a = df[df['출발노드']==arp]
    D = len((a['출발노드']+','+a['도착노드']).unique())/(N-1)
    return D

In [45]:
N =15
arp_list = list(link_table2['출발노드'].unique())
center= pd.DataFrame(data=arp_list,columns=['공항'])
D_list = []

for i in arp_list:
    D = degree_centrality(link_table2, i)
    D_list.append(D)
    
center['중심성'] = D_list
center

       공항       중심성
0    ARP1  1.000000
1   ARP10  0.214286
2   ARP11  0.071429
3   ARP12  0.214286
4   ARP13  0.142857
5   ARP14  0.142857
6   ARP15  0.285714
7    ARP2  0.642857
8    ARP3  0.857143
9    ARP4  0.357143
10   ARP5  0.285714
11   ARP6  0.357143
12   ARP7  0.357143
13   ARP8  0.357143
14   ARP9  0.214286

# 지연 네트워크 지연인것만으로 진행

In [46]:
rdata_d = rdata_d[rdata_d['DLY2']==1]

rdata_d = rdata_d.sort_values(['DATE','REG','STT2'])
rdata_d.index = list(range(len(rdata_d)))
reg_list = list(rdata_d.REG.unique())
rdata_ddd = rdata_d[['DATE','REG','ARP','ODP','STT2']]

ex = []
for i in reg_list:
    x = rdata_ddd[rdata_ddd['REG']== i][['DATE','REG','ARP','ODP','STT2']]
    x = x.sort_values(['DATE','STT2'])
    x.index = list(range(len(x)))
    list1 = list(x.ARP+','+x.ODP)
    y = x.pivot_table(index='DATE',aggfunc='count',values='REG')
    y = y.reset_index()
    a = []
    qq = []
    b= 0 
    for j in range(len(y)):
        a = list1[b: y['REG'][j]+b]
        b += len(a)
        qq.append(a)
    ex.append(qq)

In [47]:
ss = sum(ex,[])
pdpd = pd.DataFrame(ss)

In [48]:
# 개수 맞음

a = 0
for i in range(10):
    a += pdpd[i].value_counts().sum()
a

len(rdata_ddd)

85923

85923

In [50]:
link_table = pd.DataFrame()
출발노드 = []
도착노드 = []
링크 = []
횟수 = []

for i in range(10):
    idx = pdpd[i].value_counts()

    for j in range(len(idx)):
        split_list = idx.index[j].split(',')
        출발노드.append(split_list[0])
        도착노드.append(split_list[1])
        링크.append(i)
        횟수.append(idx[j])

link_table['출발노드'] = 출발노드
link_table['도착노드'] = 도착노드
link_table['링크'] = 링크
link_table['횟수'] = 횟수

In [51]:
link_table2 = link_table.sort_values(by=['출발노드','도착노드'])
link_table2

     출발노드   도착노드  링크    횟수
27   ARP1  ARP11   0    67
96   ARP1  ARP11   1    23
135  ARP1  ARP11   2    15
179  ARP1  ARP11   3     7
219  ARP1  ARP11   4     6
22   ARP1  ARP12   0   104
95   ARP1  ARP12   1    25
136  ARP1  ARP12   2    15
182  ARP1  ARP12   3     5
220  ARP1  ARP12   4     6
259  ARP1  ARP12   5     1
292  ARP1  ARP12   6     2
24   ARP1  ARP15   0    96
98   ARP1  ARP15   1    19
141  ARP1  ARP15   2    12
178  ARP1  ARP15   3     8
221  ARP1  ARP15   4     5
257  ARP1  ARP15   5     3
291  ARP1  ARP15   6     2
9    ARP1   ARP2   0  1036
66   ARP1   ARP2   1   966
112  ARP1   ARP2   2   462
154  ARP1   ARP2   3   289
197  ARP1   ARP2   4   166
234  ARP1   ARP2   5    93
270  ARP1   ARP2   6    49
309  ARP1   ARP2   7    10
334  ARP1   ARP2   8     1
1    ARP1   ARP3   0  6641
63   ARP1   ARP3   1  4692
..    ...    ...  ..   ...
293  ARP8   ARP1   6     1
315  ARP8   ARP1   7     3
49   ARP8  ARP15   0     2
12   ARP8   ARP3   0   450
69   ARP8   ARP3   1   761
111  ARP8   ARP3   2   497
155  ARP8   ARP3   3   287
201  ARP8   ARP3   4   149
232  ARP8   ARP3   5   120
269  ARP8   ARP3   6    53
303  ARP8   ARP3   7    24
326  ARP8   ARP3   8     5
190  ARP8   ARP7   3     1
264  ARP8   ARP7   5     1
33   ARP9   ARP1   0    46
77   ARP9   ARP1   1   109
124  ARP9   ARP1   2    54
161  ARP9   ARP1   3    64
206  ARP9   ARP1   4    31
241  ARP9   ARP1   5    17
278  ARP9   ARP1   6    15
307  ARP9   ARP1   7    11
328  ARP9   ARP1   8     3
38   ARP9   ARP3   0    19
82   ARP9   ARP3   1    76
129  ARP9   ARP3   2    31
163  ARP9   ARP3   3    34
210  ARP9   ARP3   4    19
247  ARP9   ARP3   5    13
280  ARP9   ARP3   6    12

[342 rows x 4 columns]

In [52]:
# 중심성 분석 

arp_list = list(link_table2['출발노드'].unique())
center_link_dly = pd.DataFrame(data=arp_list,columns=['공항'])
D_list = []

for i in arp_list:
    D = get_degree_centrality(link_table2, i)
    D_list.append(D)

center_link_dly['중심성'] = D_list

center_link_dly.sort_values('중심성',ascending = False)

       공항          중심성
8    ARP3  5333.357143
0    ARP1  3740.714286
7    ARP2  1403.571429
11   ARP6   458.000000
13   ARP8   428.571429
9    ARP4   386.714286
6   ARP15   168.214286
14   ARP9    99.071429
10   ARP5    90.214286
4   ARP13    69.000000
3   ARP12    41.642857
12   ARP7    24.214286
5   ARP14    17.428571
2   ARP11    13.928571
1   ARP10     0.071429

In [53]:
# 가중치 고려x

N =15
arp_list = list(link_table2['출발노드'].unique())
center_dly= pd.DataFrame(data=arp_list,columns=['공항'])
D_list = []

for i in arp_list:
    D = degree_centrality(link_table2, i)
    D_list.append(D)
    
center_dly['중심성'] = D_list
center_dly

       공항       중심성
0    ARP1  0.785714
1   ARP10  0.071429
2   ARP11  0.071429
3   ARP12  0.214286
4   ARP13  0.142857
5   ARP14  0.071429
6   ARP15  0.285714
7    ARP2  0.642857
8    ARP3  0.857143
9    ARP4  0.285714
10   ARP5  0.214286
11   ARP6  0.285714
12   ARP7  0.285714
13   ARP8  0.285714
14   ARP9  0.142857