In [1]:
from matplotlib import font_manager, rc  # 한글사용 matplotlib
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import csv
import codecs
import numpy as np
import datetime
import json
import tensorflow as tf
import jpype
from konlpy.tag import Okt
from IPython.core.interactiveshell import InteractiveShell
from pandas import DataFrame as df
InteractiveShell.ast_node_interactivity = 'all'
os.chdir("C:/Users/windd/pythondata")
%matplotlib inline
font_name = font_manager.FontProperties(
    fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
df_afsnt = pd.read_csv('bigcontest/2019빅콘테스트_퓨처스리그2/AFSNT.csv',engine='python',encoding='cp949')
df_afsnt["STT"] = pd.to_datetime(df_afsnt["STT"], format = "%H:%M").dt.time
df_afsnt["ATT"] = pd.to_datetime(df_afsnt["ATT"], format = "%H:%M").dt.time

df_afsnt = df_afsnt.rename(columns={ 
    "SDT_YY": "year", "SDT_MM":"month", "SDT_DD":"day",  "SDT_DY":"wday", 
    "ARP":"origin", "ODP":"dest", 
    "FLO":"airline", "FLT":"flight" ,"REG":"tailnum", 
    "AOD":"is_arrive", 
    "IRR":"is_regular", 
    "STT":"sched_time", "ATT":"real_time", 
    "DLY":"is_delay", "DRR":"cause_delay", 
    "CNL":"is_cancel", "CNR":"cause_cancel"
})
df_afsnt["date"] = pd.to_datetime(df_afsnt[["year", "month", "day"]])
df_afsnt["sched_datetime"] = pd.to_datetime(df_afsnt['date'].astype(str) + " " + df_afsnt["sched_time"].astype(str))
df_afsnt["real_datetime"] = pd.to_datetime(df_afsnt['date'].astype(str) + " " + df_afsnt["real_time"].astype(str))

# delay 변수 생성
temp = df_afsnt["real_datetime"] - df_afsnt["sched_datetime"] 
temp = pd.DataFrame(temp.dt.components)
df_afsnt["delay"] = temp['minutes'] + 60 * temp['hours'] + 1440 * temp['days']
del temp

df_afsnt.head()

,year,month,day,wday,origin,dest,airline,flight,tailnum,is_arrive,...,sched_time,real_time,is_delay,cause_delay,is_cancel,cause_cancel,date,sched_datetime,real_datetime,delay
0,2017,1,1,일,ARP3,ARP6,J,J1955,SEw3NzE4,D,...,10:05:00,10:32:00,N,NaN,N,NaN,2017-01-01,2017-01-01 10:05:00,2017-01-01 10:32:00,27
1,2017,1,1,일,ARP3,ARP6,J,J1954,SEw3NzE4,A,...,09:30:00,09:31:00,N,NaN,N,NaN,2017-01-01,2017-01-01 09:30:00,2017-01-01 09:31:00,1
2,2017,1,1,일,ARP3,ARP6,J,J1956,SEw3NzE4,A,...,12:45:00,13:03:00,N,NaN,N,NaN,2017-01-01,2017-01-01 12:45:00,2017-01-01 13:03:00,18
3,2017,1,1,일,ARP3,ARP6,J,J1957,SEw3NzE4,D,...,13:25:00,14:09:00,Y,C02,N,NaN,2017-01-01,2017-01-01 13:25:00,2017-01-01 14:09:00,44
4,2017,1,1,일,ARP3,ARP6,J,J1958,SEw3NzE4,A,...,16:10:00,16:31:00,N,NaN,N,NaN,2017-01-01,2017-01-01 16:10:00,2017-01-01 16:31:00,21

In [ ]:
# 파생변수 - 혼잡도

In [3]:
df_afsnt_d = df_afsnt[df_afsnt['is_arrive']=='D']

In [ ]:
# 연습용

test = df_afsnt_d.iloc[:1000]
test = test.sort_values(['origin','date','sched_time'])
test.index = list(range(len(test)))


base_time = datetime.timedelta(minutes=30)
congestion = []

for i in range(len(test)):
    
    airport = test['origin'][i]
    sched_time = test['sched_datetime'][i]
    lower_time = sched_time - base_time
    upper_time = sched_time + base_time
    congestion_cnt = 0
    num = [x if x >= 0 else 0 for x in [i-30]]
    num2 = [x if x <= (len(test)-30) else len(test) for x in [i+30]]
    
    
    for j in range(num[0], num2[0],1):
        if (airport == test['origin'][j]) and (lower_time <= test['sched_datetime'][j]) and (test['sched_datetime'][j] <= upper_time):
            congestion_cnt +=1
    congestion.append(congestion_cnt)

In [ ]:
# 구하는 방식은 그대로 사용하면됨
# 다만 전처리하면서 제거되는 행들에 의해서 값이 변하기 때문에
# 나중에 다시 돌려야함

In [59]:
df_afsnt_d = df_afsnt_d.sort_values(['origin','date','sched_time'])
df_afsnt_d.index = list(range(len(df_afsnt_d)))

base_time = datetime.timedelta(minutes=30)
congestion = []

for i in range(len(df_afsnt_d)):
    
    airport = df_afsnt_d['origin'][i]
    sched_time = df_afsnt_d['sched_datetime'][i]
    lower_time = sched_time - base_time
    upper_time = sched_time + base_time
    congestion_cnt = 0
    num = [x if x >= 0 else 0 for x in [i-30]]
    num2 = [x if x <= (len(df_afsnt_d)-30) else len(df_afsnt_d) for x in [i+30]]
    
    for j in range(num[0], num2[0],1):
        if (airport == df_afsnt_d['origin'][j]) and (lower_time <= df_afsnt_d['sched_datetime'][j]) and (df_afsnt_d['sched_datetime'][j] <= upper_time):
            congestion_cnt +=1
    congestion.append(congestion_cnt)

In [60]:
df_afsnt_d['congestion'] = congestion

In [ ]:
df_afsnt_d = pd.read_excel('bigcontest/혼잡도포함.xlsx')

In [ ]:
pd.set_option('display.max_rows', 10000)
df_afsnt_d[['origin','date','sched_time','congestion']]

In [138]:
df_afsnt_d[['origin','date','sched_time','congestion']].head(100)

   origin       date sched_time  congestion
0    ARP1 2017-01-01   06:10:00           8
1    ARP1 2017-01-01   06:15:00          10
2    ARP1 2017-01-01   06:20:00          10
3    ARP1 2017-01-01   06:25:00          10
4    ARP1 2017-01-01   06:30:00          13
5    ARP1 2017-01-01   06:30:00          13
6    ARP1 2017-01-01   06:40:00          14
7    ARP1 2017-01-01   06:40:00          14
8    ARP1 2017-01-01   06:45:00          13
9    ARP1 2017-01-01   06:45:00          13
10   ARP1 2017-01-01   07:00:00          13
11   ARP1 2017-01-01   07:00:00          13
12   ARP1 2017-01-01   07:00:00          13
13   ARP1 2017-01-01   07:05:00          11
14   ARP1 2017-01-01   07:20:00          10
15   ARP1 2017-01-01   07:20:00          10
16   ARP1 2017-01-01   07:30:00          13
17   ARP1 2017-01-01   07:40:00          10
18   ARP1 2017-01-01   07:40:00          10
19   ARP1 2017-01-01   07:50:00          12
20   ARP1 2017-01-01   07:55:00          10
21   ARP1 2017-01-01   08:00:00          11
22   ARP1 2017-01-01   08:00:00          11
23   ARP1 2017-01-01   08:10:00          12
24   ARP1 2017-01-01   08:15:00          11
25   ARP1 2017-01-01   08:20:00          12
26   ARP1 2017-01-01   08:30:00          13
27   ARP1 2017-01-01   08:40:00          12
28   ARP1 2017-01-01   08:40:00          12
29   ARP1 2017-01-01   08:45:00          11
30   ARP1 2017-01-01   08:50:00          10
31   ARP1 2017-01-01   08:55:00           9
32   ARP1 2017-01-01   09:00:00          10
33   ARP1 2017-01-01   09:00:00          10
34   ARP1 2017-01-01   09:05:00          10
35   ARP1 2017-01-01   09:30:00          16
36   ARP1 2017-01-01   09:35:00          14
37   ARP1 2017-01-01   09:40:00          14
38   ARP1 2017-01-01   09:40:00          14
39   ARP1 2017-01-01   09:45:00          14
40   ARP1 2017-01-01   09:45:00          14
41   ARP1 2017-01-01   09:45:00          14
42   ARP1 2017-01-01   09:55:00          15
43   ARP1 2017-01-01   09:55:00          15
44   ARP1 2017-01-01   10:00:00          18
45   ARP1 2017-01-01   10:00:00          18
46   ARP1 2017-01-01   10:00:00          18
47   ARP1 2017-01-01   10:00:00          18
48   ARP1 2017-01-01   10:10:00          16
49   ARP1 2017-01-01   10:20:00          11
50   ARP1 2017-01-01   10:30:00          10
51   ARP1 2017-01-01   10:30:00          10
52   ARP1 2017-01-01   10:30:00          10
53   ARP1 2017-01-01   11:00:00          10
54   ARP1 2017-01-01   11:05:00           8
55   ARP1 2017-01-01   11:10:00           9
56   ARP1 2017-01-01   11:10:00           9
57   ARP1 2017-01-01   11:25:00          10
58   ARP1 2017-01-01   11:30:00          11
59   ARP1 2017-01-01   11:30:00          11
60   ARP1 2017-01-01   11:35:00          10
61   ARP1 2017-01-01   11:40:00          11
62   ARP1 2017-01-01   11:45:00          10
63   ARP1 2017-01-01   12:00:00          13
64   ARP1 2017-01-01   12:10:00          12
65   ARP1 2017-01-01   12:10:00          12
66   ARP1 2017-01-01   12:15:00          12
67   ARP1 2017-01-01   12:25:00          13
68   ARP1 2017-01-01   12:30:00          14
69   ARP1 2017-01-01   12:30:00          14
70   ARP1 2017-01-01   12:30:00          14
71   ARP1 2017-01-01   12:35:00          14
72   ARP1 2017-01-01   12:40:00          17
73   ARP1 2017-01-01   12:45:00          17
74   ARP1 2017-01-01   12:55:00          20
75   ARP1 2017-01-01   12:55:00          20
76   ARP1 2017-01-01   13:00:00          19
77   ARP1 2017-01-01   13:05:00          18
78   ARP1 2017-01-01   13:10:00          18
79   ARP1 2017-01-01   13:10:00          18
80   ARP1 2017-01-01   13:10:00          18
81   ARP1 2017-01-01   13:15:00          17
82   ARP1 2017-01-01   13:15:00          17
83   ARP1 2017-01-01   13:20:00          16
84   ARP1 2017-01-01   13:20:00          16
85   ARP1 2017-01-01   13:25:00          16
86   ARP1 2017-01-01   13:25:00          16
87   ARP1 2017-01-01   13:35:00          16
88   ARP1 2017-01-01   13:35:00          16
89   ARP1 2017-01-01   13:40:00          15
90   ARP1 2017-01-01   14:00:00          10
91   ARP1 2017-01-01   14:00:00          10
92   ARP1 2017-01-01   14:05:00          11
93   ARP1 2017-01-01   14:20:00          10
94   ARP1 2017-01-01   14:25:00          10
95   ARP1 2017-01-01   14:25:00          10
96   ARP1 2017-01-01   14:30:00          12
97   ARP1 2017-01-01   14:35:00          10
98   ARP1 2017-01-01   14:45:00          10
99   ARP1 2017-01-01   14:50:00          11

In [139]:
df_afsnt_d[['origin','date','sched_time','congestion']].tail(100)

       origin       date sched_time  congestion
493617   ARP9 2019-06-16   17:50:00           1
493618   ARP9 2019-06-16   19:50:00           1
493619   ARP9 2019-06-17   10:20:00           1
493620   ARP9 2019-06-17   11:45:00           1
493621   ARP9 2019-06-17   14:05:00           1
493622   ARP9 2019-06-17   15:00:00           1
493623   ARP9 2019-06-17   16:00:00           1
493624   ARP9 2019-06-17   17:50:00           1
493625   ARP9 2019-06-17   18:50:00           1
493626   ARP9 2019-06-18   10:20:00           1
493627   ARP9 2019-06-18   11:45:00           1
493628   ARP9 2019-06-18   14:05:00           1
493629   ARP9 2019-06-18   15:00:00           1
493630   ARP9 2019-06-18   16:00:00           1
493631   ARP9 2019-06-18   17:50:00           1
493632   ARP9 2019-06-18   18:50:00           1
493633   ARP9 2019-06-19   10:20:00           1
493634   ARP9 2019-06-19   11:45:00           1
493635   ARP9 2019-06-19   14:05:00           1
493636   ARP9 2019-06-19   15:00:00           1
493637   ARP9 2019-06-19   16:00:00           1
493638   ARP9 2019-06-19   17:50:00           1
493639   ARP9 2019-06-19   18:50:00           1
493640   ARP9 2019-06-20   10:20:00           1
493641   ARP9 2019-06-20   11:45:00           1
493642   ARP9 2019-06-20   14:05:00           1
493643   ARP9 2019-06-20   15:00:00           1
493644   ARP9 2019-06-20   16:00:00           1
493645   ARP9 2019-06-20   17:50:00           1
493646   ARP9 2019-06-20   18:50:00           1
493647   ARP9 2019-06-21   09:10:00           1
493648   ARP9 2019-06-21   11:45:00           1
493649   ARP9 2019-06-21   14:05:00           1
493650   ARP9 2019-06-21   16:00:00           1
493651   ARP9 2019-06-21   17:05:00           1
493652   ARP9 2019-06-21   17:50:00           1
493653   ARP9 2019-06-21   19:50:00           1
493654   ARP9 2019-06-22   10:20:00           1
493655   ARP9 2019-06-22   11:45:00           1
493656   ARP9 2019-06-22   14:05:00           1
493657   ARP9 2019-06-22   15:00:00           1
493658   ARP9 2019-06-22   16:00:00           1
493659   ARP9 2019-06-22   17:50:00           1
493660   ARP9 2019-06-22   18:50:00           1
493661   ARP9 2019-06-23   09:10:00           1
493662   ARP9 2019-06-23   11:45:00           1
493663   ARP9 2019-06-23   14:05:00           1
493664   ARP9 2019-06-23   16:00:00           1
493665   ARP9 2019-06-23   17:05:00           1
493666   ARP9 2019-06-23   17:50:00           1
493667   ARP9 2019-06-23   19:50:00           1
493668   ARP9 2019-06-24   10:20:00           1
493669   ARP9 2019-06-24   11:45:00           1
493670   ARP9 2019-06-24   14:05:00           1
493671   ARP9 2019-06-24   15:00:00           1
493672   ARP9 2019-06-24   16:00:00           1
493673   ARP9 2019-06-24   17:50:00           1
493674   ARP9 2019-06-24   18:50:00           1
493675   ARP9 2019-06-25   10:20:00           1
493676   ARP9 2019-06-25   11:45:00           1
493677   ARP9 2019-06-25   14:05:00           1
493678   ARP9 2019-06-25   15:00:00           1
493679   ARP9 2019-06-25   16:00:00           1
493680   ARP9 2019-06-25   17:50:00           1
493681   ARP9 2019-06-25   18:50:00           1
493682   ARP9 2019-06-26   10:20:00           1
493683   ARP9 2019-06-26   11:45:00           1
493684   ARP9 2019-06-26   14:05:00           1
493685   ARP9 2019-06-26   15:00:00           1
493686   ARP9 2019-06-26   16:00:00           1
493687   ARP9 2019-06-26   17:50:00           1
493688   ARP9 2019-06-26   18:50:00           1
493689   ARP9 2019-06-27   10:20:00           1
493690   ARP9 2019-06-27   11:45:00           1
493691   ARP9 2019-06-27   14:05:00           1
493692   ARP9 2019-06-27   15:00:00           1
493693   ARP9 2019-06-27   16:00:00           1
493694   ARP9 2019-06-27   17:50:00           1
493695   ARP9 2019-06-27   18:50:00           1
493696   ARP9 2019-06-28   09:10:00           1
493697   ARP9 2019-06-28   11:45:00           1
493698   ARP9 2019-06-28   14:05:00           1
493699   ARP9 2019-06-28   16:00:00           1
493700   ARP9 2019-06-28   17:05:00           1
493701   ARP9 2019-06-28   17:50:00           1
493702   ARP9 2019-06-28   19:50:00           1
493703   ARP9 2019-06-29   10:20:00           1
493704   ARP9 2019-06-29   11:45:00           1
493705   ARP9 2019-06-29   14:05:00           1
493706   ARP9 2019-06-29   15:00:00           1
493707   ARP9 2019-06-29   16:00:00           1
493708   ARP9 2019-06-29   17:50:00           1
493709   ARP9 2019-06-29   18:50:00           1
493710   ARP9 2019-06-30   09:10:00           1
493711   ARP9 2019-06-30   11:45:00           1
493712   ARP9 2019-06-30   14:05:00           1
493713   ARP9 2019-06-30   16:00:00           1
493714   ARP9 2019-06-30   17:05:00           1
493715   ARP9 2019-06-30   17:50:00           1
493716   ARP9 2019-06-30   19:50:00           1

In [65]:
df_afsnt_d.congestion.value_counts().sum()
len(df_afsnt_d)

493717

493717

In [66]:
df_afsnt_d.congestion.value_counts()

1     36253
16    35990
15    35513
14    33937
17    33628
13    32455
2     31383
12    29793
18    29736
11    25075
19    24150
3     18218
5     18078
20    16908
4     16601
10    15836
6     13268
9     11906
21    10160
7      8350
8      8014
22     4458
23     1677
24      950
25      750
26      502
27       84
28       16
29       13
31       11
32        2
33        2
Name: congestion, dtype: int64

In [ ]:
# 파생변수 - 링크 데이터
# 단순 링크가 아닌 고유 등록기호에만 영향을 생각할 수 있을까?

In [4]:
df_afsnt_sorted = df_afsnt.sort_values(['date','tailnum','sched_datetime'])
df_afsnt_sorted_d = df_afsnt_sorted[df_afsnt_sorted['is_arrive']=='D']

In [5]:
df_afsnt_sorted_d = df_afsnt_sorted_d[df_afsnt_sorted_d['is_cancel']!='Y']
df_afsnt_sorted_d = df_afsnt_sorted_d[~((df_afsnt_sorted_d['origin']=='ARP1') & (df_afsnt_sorted_d['dest']=='ARP1'))]
df_afsnt_sorted_d = df_afsnt_sorted_d[~(df_afsnt_sorted_d['tailnum'].isnull())]

In [6]:
df_afsnt_sorted_d.index = list(range(len(df_afsnt_sorted_d)))
len(df_afsnt_sorted_d)

489575

In [7]:
df_afsnt_sorted_d.tail(10)[['date','origin','dest','tailnum','sched_datetime','is_arrive']]

             date origin  dest   tailnum      sched_datetime is_arrive
489565 2019-06-30   ARP3  ARP2  SEw4MzY1 2019-06-30 18:35:00         D
489566 2019-06-30   ARP2  ARP1  SEw4MzY1 2019-06-30 21:00:00         D
489567 2019-06-30   ARP4  ARP3  SEw4MzYz 2019-06-30 06:20:00         D
489568 2019-06-30   ARP3  ARP1  SEw4MzYz 2019-06-30 07:55:00         D
489569 2019-06-30   ARP1  ARP3  SEw4MzYz 2019-06-30 09:45:00         D
489570 2019-06-30   ARP3  ARP1  SEw4MzYz 2019-06-30 11:35:00         D
489571 2019-06-30   ARP1  ARP3  SEw4MzYz 2019-06-30 13:20:00         D
489572 2019-06-30   ARP3  ARP1  SEw4MzYz 2019-06-30 15:05:00         D
489573 2019-06-30   ARP1  ARP3  SEw4MzYz 2019-06-30 17:25:00         D
489574 2019-06-30   ARP3  ARP4  SEw4MzYz 2019-06-30 19:10:00         D

In [8]:
link_ref = df_afsnt_sorted_d.pivot_table(index = ['date','tailnum'],aggfunc='count',values='is_arrive' )
link_ref.head(100)

                     is_arrive
date       tailnum
2017-01-01 SEw3MjQ3          8
           SEw3NDYw          6
           SEw3NTI1          6
           SEw3NTI2          1
           SEw3NTQw          4
           SEw3NTU3          8
           SEw3NTU4          8
           SEw3NTY0          8
           SEw3NTY2          8
           SEw3NTY4          8
           SEw3NTY5          8
           SEw3NTYw          2
           SEw3NTYz          9
           SEw3NTk0          9
           SEw3NTk5          4
           SEw3NzA0          1
           SEw3NzA1          4
           SEw3NzA2          7
           SEw3NzA4          7
           SEw3NzAz         10
           SEw3NzE2          8
           SEw3NzE4          8
           SEw3NzE5          8
           SEw3NzEz          2
           SEw3NzI0          4
           SEw3NzI1          4
           SEw3NzI2          1
           SEw3NzI3          7
           SEw3NzIy          2
           SEw3NzIz          7
...                        ...
           SEw4MjA1          8
           SEw4MjA3          8
           SEw4MjEz          6
           SEw4MjI0          2
           SEw4MjIx          1
           SEw4MjM1          4
           SEw4MjM2          8
           SEw4MjM3         10
           SEw4MjM5          5
           SEw4MjQ0          1
           SEw4MjQ2          1
           SEw4MjQ3          4
           SEw4MjQw          1
           SEw4MjQx          6
           SEw4MjU2          2
           SEw4MjUz          8
           SEw4MjY0          8
           SEw4MjY4          7
           SEw4MjYx          6
           SEw4Mjc3          1
           SEw4Mjc4          1
           SEw4Mjg5         10
           SEw4Mjk3          9
           SEw4Mjky          4
2017-01-02 SEw3MjQ3          8
           SEw3NDYw          1
           SEw3NTI1          6
           SEw3NTU3          8
           SEw3NTU4          6
           SEw3NTY0          8

[100 rows x 1 columns]

In [10]:
link_ref_list = list(link_ref['is_arrive'].values)

In [11]:
# 링크의 경우 출발기준으로 진행하고 있는데
# 도착인 경우에는 어떻게 접근?
# 그냥 출도착 쌍에 맞게 진행?

link = []

for i in link_ref_list:
    link_range = list(range(i))
    link.append(link_range)
    
link = sum(link, [])
df_afsnt_sorted_d['link'] = link

In [12]:
df_afsnt_sorted_d[['date','origin','dest','tailnum','sched_datetime','link']].head(100)

         date origin   dest   tailnum      sched_datetime  link
0  2017-01-01   ARP1   ARP3  SEw3MjQ3 2017-01-01 07:20:00     0
1  2017-01-01   ARP3   ARP1  SEw3MjQ3 2017-01-01 09:15:00     1
2  2017-01-01   ARP1   ARP3  SEw3MjQ3 2017-01-01 11:05:00     2
3  2017-01-01   ARP3   ARP1  SEw3MjQ3 2017-01-01 13:00:00     3
4  2017-01-01   ARP1   ARP3  SEw3MjQ3 2017-01-01 14:50:00     4
5  2017-01-01   ARP3   ARP1  SEw3MjQ3 2017-01-01 16:45:00     5
6  2017-01-01   ARP1   ARP3  SEw3MjQ3 2017-01-01 18:35:00     6
7  2017-01-01   ARP3   ARP1  SEw3MjQ3 2017-01-01 20:40:00     7
8  2017-01-01   ARP1   ARP3  SEw3NDYw 2017-01-01 09:55:00     0
9  2017-01-01   ARP3   ARP1  SEw3NDYw 2017-01-01 12:10:00     1
10 2017-01-01   ARP1   ARP3  SEw3NDYw 2017-01-01 14:25:00     2
11 2017-01-01   ARP3   ARP1  SEw3NDYw 2017-01-01 16:30:00     3
12 2017-01-01   ARP1   ARP3  SEw3NDYw 2017-01-01 18:40:00     4
13 2017-01-01   ARP3   ARP1  SEw3NDYw 2017-01-01 20:45:00     5
14 2017-01-01   ARP1   ARP3  SEw3NTI1 2017-01-01 09:00:00     0
15 2017-01-01   ARP3   ARP1  SEw3NTI1 2017-01-01 11:10:00     1
16 2017-01-01   ARP1   ARP3  SEw3NTI1 2017-01-01 13:35:00     2
17 2017-01-01   ARP3   ARP1  SEw3NTI1 2017-01-01 15:30:00     3
18 2017-01-01   ARP1   ARP3  SEw3NTI1 2017-01-01 18:05:00     4
19 2017-01-01   ARP3   ARP1  SEw3NTI1 2017-01-01 20:10:00     5
20 2017-01-01   ARP2  ARP15  SEw3NTI2 2017-01-01 10:40:00     0
21 2017-01-01   ARP2   ARP3  SEw3NTQw 2017-01-01 10:40:00     0
22 2017-01-01   ARP3   ARP1  SEw3NTQw 2017-01-01 13:35:00     1
23 2017-01-01   ARP1   ARP3  SEw3NTQw 2017-01-01 15:45:00     2
24 2017-01-01   ARP3   ARP2  SEw3NTQw 2017-01-01 18:10:00     3
25 2017-01-01   ARP6   ARP3  SEw3NTU3 2017-01-01 07:30:00     0
26 2017-01-01   ARP3   ARP6  SEw3NTU3 2017-01-01 09:10:00     1
27 2017-01-01   ARP6   ARP3  SEw3NTU3 2017-01-01 10:50:00     2
28 2017-01-01   ARP3   ARP6  SEw3NTU3 2017-01-01 12:30:00     3
29 2017-01-01   ARP6   ARP3  SEw3NTU3 2017-01-01 14:10:00     4
..        ...    ...    ...       ...                 ...   ...
70 2017-01-01   ARP1   ARP3  SEw3NTY5 2017-01-01 17:00:00     5
71 2017-01-01   ARP3   ARP1  SEw3NTY5 2017-01-01 18:40:00     6
72 2017-01-01   ARP1   ARP3  SEw3NTY5 2017-01-01 20:45:00     7
73 2017-01-01   ARP2   ARP1  SEw3NTYw 2017-01-01 17:30:00     0
74 2017-01-01   ARP1   ARP2  SEw3NTYw 2017-01-01 19:40:00     1
75 2017-01-01   ARP1   ARP3  SEw3NTYz 2017-01-01 06:30:00     0
76 2017-01-01   ARP3   ARP1  SEw3NTYz 2017-01-01 08:10:00     1
77 2017-01-01   ARP1   ARP3  SEw3NTYz 2017-01-01 09:55:00     2
78 2017-01-01   ARP3   ARP2  SEw3NTYz 2017-01-01 11:40:00     3
79 2017-01-01   ARP2   ARP3  SEw3NTYz 2017-01-01 13:20:00     4
80 2017-01-01   ARP3   ARP6  SEw3NTYz 2017-01-01 15:10:00     5
81 2017-01-01   ARP6   ARP3  SEw3NTYz 2017-01-01 16:45:00     6
82 2017-01-01   ARP3   ARP1  SEw3NTYz 2017-01-01 18:30:00     7
83 2017-01-01   ARP1   ARP3  SEw3NTYz 2017-01-01 20:25:00     8
84 2017-01-01   ARP1   ARP3  SEw3NTk0 2017-01-01 06:40:00     0
85 2017-01-01   ARP3   ARP1  SEw3NTk0 2017-01-01 08:30:00     1
86 2017-01-01   ARP1   ARP3  SEw3NTk0 2017-01-01 10:10:00     2
87 2017-01-01   ARP3   ARP1  SEw3NTk0 2017-01-01 11:55:00     3
88 2017-01-01   ARP1   ARP3  SEw3NTk0 2017-01-01 13:40:00     4
89 2017-01-01   ARP3   ARP1  SEw3NTk0 2017-01-01 15:25:00     5
90 2017-01-01   ARP1   ARP3  SEw3NTk0 2017-01-01 17:10:00     6
91 2017-01-01   ARP3   ARP1  SEw3NTk0 2017-01-01 18:55:00     7
92 2017-01-01   ARP1   ARP3  SEw3NTk0 2017-01-01 20:40:00     8
93 2017-01-01   ARP2   ARP3  SEw3NTk5 2017-01-01 15:05:00     0
94 2017-01-01   ARP3   ARP6  SEw3NTk5 2017-01-01 16:45:00     1
95 2017-01-01   ARP6   ARP3  SEw3NTk5 2017-01-01 18:30:00     2
96 2017-01-01   ARP3   ARP6  SEw3NTk5 2017-01-01 20:35:00     3
97 2017-01-01   ARP2  ARP15  SEw3NzA0 2017-01-01 16:10:00     0
98 2017-01-01   ARP2   ARP3  SEw3NzA1 2017-01-01 07:10:00     0
99 2017-01-01   ARP3   ARP2  SEw3NzA1 2017-01-01 08:50:00     1

[100 rows x 6 columns]

In [14]:
link_table = df_afsnt_sorted_d.pivot_table(index = ['origin','dest','link'], aggfunc='count',values='is_arrive')
link_table = link_table.reset_index(['origin','dest','link'])
link_table.sort_values(['origin','dest']).head(50)

   origin   dest  link  is_arrive
0    ARP1  ARP10     0          1
1    ARP1  ARP10     2          2
2    ARP1  ARP11     0        597
3    ARP1  ARP11     1        288
4    ARP1  ARP11     2         41
5    ARP1  ARP11     3         69
6    ARP1  ARP11     4        466
7    ARP1  ARP11     5        189
8    ARP1  ARP11     6         58
9    ARP1  ARP12     0        874
10   ARP1  ARP12     1         30
11   ARP1  ARP12     2         24
12   ARP1  ARP12     3         29
13   ARP1  ARP12     4         79
14   ARP1  ARP12     5        148
15   ARP1  ARP12     6        515
16   ARP1  ARP12     7         64
17   ARP1  ARP12     8          5
18   ARP1  ARP13     3          1
19   ARP1  ARP14     0          2
20   ARP1  ARP15     0        467
21   ARP1  ARP15     1         35
22   ARP1  ARP15     2         83
23   ARP1  ARP15     3         18
24   ARP1  ARP15     4         47
25   ARP1  ARP15     5         15
26   ARP1  ARP15     6         65
27   ARP1  ARP15     7         15
28   ARP1  ARP15     8         27
29   ARP1  ARP15     9          2
30   ARP1  ARP15    10          8
31   ARP1   ARP2     0       3818
32   ARP1   ARP2     1       4746
33   ARP1   ARP2     2       3032
34   ARP1   ARP2     3       4200
35   ARP1   ARP2     4       2632
36   ARP1   ARP2     5       3043
37   ARP1   ARP2     6       2213
38   ARP1   ARP2     7       1663
39   ARP1   ARP2     8        299
40   ARP1   ARP2     9         65
41   ARP1   ARP3     0      28435
42   ARP1   ARP3     1       6865
43   ARP1   ARP3     2      24840
44   ARP1   ARP3     3       4694
45   ARP1   ARP3     4      22259
46   ARP1   ARP3     5       4991
47   ARP1   ARP3     6      14298
48   ARP1   ARP3     7       2022
49   ARP1   ARP3     8       2600

In [20]:
# 공항 출발 time sequence 생성

df_afsnt_sorted_d2 = df_afsnt_sorted_d.sort_values(['date','origin','sched_datetime','real_datetime'])
df_afsnt_sorted_d2.index = list(range(len(df_afsnt_sorted_d2)))
df_afsnt_sorted_d2.head(100)

,year,month,day,wday,origin,dest,airline,flight,tailnum,is_arrive,...,real_time,is_delay,cause_delay,is_cancel,cause_cancel,date,sched_datetime,real_datetime,delay,link
0,2017,1,1,일,ARP1,ARP3,A,A1901,SEw3Nzc2,D,...,06:18:00,N,NaN,N,NaN,2017-01-01,2017-01-01 06:10:00,2017-01-01 06:18:00,8,0
1,2017,1,1,일,ARP1,ARP3,A,A1905,SEw4MjM2,D,...,06:25:00,N,NaN,N,NaN,2017-01-01,2017-01-01 06:15:00,2017-01-01 06:25:00,10,0
2,2017,1,1,일,ARP1,ARP3,L,L1751,SEw4MjM3,D,...,06:30:00,N,NaN,N,NaN,2017-01-01,2017-01-01 06:20:00,2017-01-01 06:30:00,10,0
3,2017,1,1,일,ARP1,ARP3,F,F1201,SEw4MjA3,D,...,06:34:00,N,NaN,N,NaN,2017-01-01,2017-01-01 06:25:00,2017-01-01 06:34:00,9,0
4,2017,1,1,일,ARP1,ARP3,H,H1101,SEw4MDMx,D,...,06:38:00,N,NaN,N,NaN,2017-01-01,2017-01-01 06:30:00,2017-01-01 06:38:00,8,0
5,2017,1,1,일,ARP1,ARP3,I,I1301,SEw3NTYz,D,...,06:44:00,N,NaN,N,NaN,2017-01-01,2017-01-01 06:30:00,2017-01-01 06:44:00,14,0
6,2017,1,1,일,ARP1,ARP3,I,I1303,SEw4MDE1,D,...,06:53:00,N,NaN,N,NaN,2017-01-01,2017-01-01 06:40:00,2017-01-01 06:53:00,13,0
7,2017,1,1,일,ARP1,ARP3,A,A1907,SEw3NTk0,D,...,07:54:00,Y,C01,N,NaN,2017-01-01,2017-01-01 06:40:00,2017-01-01 07:54:00,74,0
8,2017,1,1,일,ARP1,ARP3,A,A1903,SEw3Nzcz,D,...,06:55:00,N,NaN,N,NaN,2017-01-01,2017-01-01 06:45:00,2017-01-01 06:55:00,10,0
9,2017,1,1,일,ARP1,ARP3,J,J1204,SEw3Nzg1,D,...,07:02:00,N,NaN,N,NaN,2017-01-01,2017-01-01 06:45:00,2017-01-01 07:02:00,17,0
10,2017,1,1,일,ARP1,ARP3,B,B1011,SEw4MDY1,D,...,07:09:00,N,NaN,N,NaN,2017-01-01,2017-01-01 07:00:00,2017-01-01 07:09:00,9,0
11,2017,1,1,일,ARP1,ARP3,L,L1701,SEw4MjM1,D,...,07:11:00,N,NaN,N,NaN,2017-01-01,2017-01-01 07:00:00,2017-01-01 07:11:00,11,0
12,2017,1,1,일,ARP1,ARP12,J,J1634,SEw3NTY4,D,...,07:17:00,N,NaN,N,NaN,2017-01-01,2017-01-01 07:00:00,2017-01-01 07:17:00,17,0
13,2017,1,1,일,ARP1,ARP3,F,F1203,SEw4MDM1,D,...,07:14:00,N,NaN,N,NaN,2017-01-01,2017-01-01 07:05:00,2017-01-01 07:14:00,9,0
14,2017,1,1,일,ARP1,ARP3,A,A1981,SEw3MjQ3,D,...,07:30:00,N,NaN,N,NaN,2017-01-01,2017-01-01 07:20:00,2017-01-01 07:30:00,10,0
15,2017,1,1,일,ARP1,ARP3,B,B1013,SEw3NzYx,D,...,07:32:00,N,NaN,N,NaN,2017-01-01,2017-01-01 07:20:00,2017-01-01 07:32:00,12,0
16,2017,1,1,일,ARP1,ARP2,B,B1803,SEw3NzIz,D,...,07:38:00,N,NaN,N,NaN,2017-01-01,2017-01-01 07:30:00,2017-01-01 07:38:00,8,0
17,2017,1,1,일,ARP1,ARP8,A,A1703,SEw3NzM3,D,...,07:43:00,N,NaN,N,NaN,2017-01-01,2017-01-01 07:40:00,2017-01-01 07:43:00,3,0
18,2017,1,1,일,ARP1,ARP9,J,J1334,SEw3NTY5,D,...,07:49:00,N,NaN,N,NaN,2017-01-01,2017-01-01 07:40:00,2017-01-01 07:49:00,9,0
19,2017,1,1,일,ARP1,ARP15,A,A1802A,SEw4Mjc4,D,...,07:36:00,N,NaN,N,NaN,2017-01-01,2017-01-01 07:50:00,2017-01-01 07:36:00,-14,0
20,2017,1,1,일,ARP1,ARP3,H,H1105,SEw4MjYx,D,...,08:19:00,N,NaN,N,NaN,2017-01-01,2017-01-01 07:55:00,2017-01-01 08:19:00,24,0
21,2017,1,1,일,ARP1,ARP2,J,J1106,SEw3NzA2,D,...,08:13:00,N,NaN,N,NaN,2017-01-01,2017-01-01 08:00:00,2017-01-01 08:13:00,13,0
22,2017,1,1,일,ARP1,ARP3,J,J1206,SEw3NzU3,D,...,08:16:00,N,NaN,N,NaN,2017-01-01,2017-01-01 08:00:00,2017-01-01 08:16:00,16,0
23,2017,1,1,일,ARP1,ARP3,A,A1913,SEw3NzAz,D,...,08:21:00,N,NaN,N,NaN,2017-01-01,2017-01-01 08:10:00,2017-01-01 08:21:00,11,1
24,2017,1,1,일,ARP1,ARP3,L,L1703,SEw4MDg2,D,...,08:29:00,N,NaN,N,NaN,2017-01-01,2017-01-01 08:15:00,2017-01-01 08:29:00,14,0
25,2017,1,1,일,ARP1,ARP3,F,F1205,SEw4MjA1,D,...,08:33:00,N,NaN,N,NaN,2017-01-01,2017-01-01 08:20:00,2017-01-01 08:33:00,13,0
26,2017,1,1,일,ARP1,ARP11,J,J1534,SEw3NTY2,D,...,08:42:00,N,NaN,N,NaN,2017-01-01,2017-01-01 08:30:00,2017-01-01 08:42:00,12,0
27,2017,1,1,일,ARP1,ARP3,A,A1961,SEw3Nzg5,D,...,08:54:00,N,NaN,N,NaN,2017-01-01,2017-01-01 08:40:00,2017-01-01 08:54:00,14,1
28,2017,1,1,일,ARP1,ARP3,J,J1208,SEw3NzI0,D,...,08:57:00,N,NaN,N,NaN,2017-01-01,2017-01-01 08:40:00,2017-01-01 08:57:00,17,0
29,2017,1,1,일,ARP1,ARP3,I,I1305,SEw3NTU4,D,...,09:00:00,N,NaN,N,NaN,2017-01-01,2017-01-01 08:45:00,2017-01-01 09:00:00,15,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2017,1,1,일,ARP1,ARP3,H,H1115,SEw4MDg3,D,...,13:00:00,N,NaN,N,NaN,2017-01-01,2017-01-01 12:30:00,2017-01-01 13:00:00,30,2
71,2017,1,1,일,ARP1,ARP3,I,I1313,SEw4MDE0,D,...,12:51:00,N,NaN,N,NaN,2017-01-01,2017-01-01 12:35:00,2017-01-01 12:51:00,16,1
72,2017,1,1,일,ARP1,ARP2,F,F1293,SEw4MjA1,D,...,12:57:00,N,NaN,N,NaN,2017-01-01,2017-01-01 12:40:00,2017-01-01 12:57:00,17,2
73,2017,1,1,일,ARP1,ARP3,H,H1117,SEw4MDMy,D,...,13:11:00,N,NaN,N,NaN,2017-01-01,2017-01-01 12:45:00,2017-01-01 13:11:00,26,2
74,2017,1,1,일,ARP1,ARP3,A,A1925,SEw3Nzg4,D,...,13:07:00,N,NaN,N,NaN,2017-01-01,2017-01-01 12:55:00,2017-01-01 13:07:00,12,0
75,2017,1,1,일,ARP1,ARP3,L,L1711,SEw4MjM3,D,...,13:16:00,N,NaN,N,NaN,2017-01-01,2017-01-01 12:55:00,2017-01-01 13:16:00,21,4
76,2017,1,1,일,ARP1,ARP2,J,J1116,SEw3NzU4,D,...,13:14:00,N,NaN,N,NaN,2017-01-01,2017-01-01 13:00:00,2017-01-01 13:14:00,14,2
77,2017,1,1,일,ARP1,ARP3,F,F1215,SEw4MjA3,D,...,13:18:00,N,NaN,N,NaN,2017-01-01,2017-01-01 13:05:00,2017-01-01 13:18:00,13,4
78,2017,1,1,일,ARP1,ARP15,F,F1261F,SEw4MDQ4,D,...,13:21:00,N,NaN,N,NaN,2017-01-01,2017-01-01 13:10:00,2017-01-01 13:21:00,11,3
79,2017,1,1,일,ARP1,ARP5,J,J1612,SEw3Nzg2,D,...,13:27:00,N,NaN,N,NaN,2017-01-01,2017-01-01 13:10:00,2017-01-01 13:27:00,17,1
80,2017,1,1,일,ARP1,ARP3,A,A1975,SEw4MjM2,D,...,13:30:00,N,NaN,N,NaN,2017-01-01,2017-01-01 13:10:00,2017-01-01 13:30:00,20,4
81,2017,1,1,일,ARP1,ARP3,J,J1236,SEw3NzE2,D,...,13:25:00,N,NaN,N,NaN,2017-01-01,2017-01-01 13:15:00,2017-01-01 13:25:00,10,3
82,2017,1,1,일,ARP1,ARP3,H,H1143,SEw4MjM5,D,...,14:00:00,Y,C02,N,NaN,2017-01-01,2017-01-01 13:15:00,2017-01-01 14:00:00,45,0
83,2017,1,1,일,ARP1,ARP9,A,A1733,SEw3NzM3,D,...,13:38:00,N,NaN,N,NaN,2017-01-01,2017-01-01 13:20:00,2017-01-01 13:38:00,18,4
84,2017,1,1,일,ARP1,ARP3,L,L1717,SEw4MjY4,D,...,13:43:00,N,NaN,N,NaN,2017-01-01,2017-01-01 13:20:00,2017-01-01 13:43:00,23,3
85,2017,1,1,일,ARP1,ARP3,J,J1220,SEw3NzA4,D,...,13:41:00,N,NaN,N,NaN,2017-01-01,2017-01-01 13:25:00,2017-01-01 13:41:00,16,3
86,2017,1,1,일,ARP1,ARP3,I,I1315,SEw4MDE1,D,...,13:56:00,Y,C02,N,NaN,2017-01-01,2017-01-01 13:25:00,2017-01-01 13:56:00,31,4
87,2017,1,1,일,ARP1,ARP3,J,J1222,SEw3NTI1,D,...,13:46:00,N,NaN,N,NaN,2017-01-01,2017-01-01 13:35:00,2017-01-01 13:46:00,11,2
88,2017,1,1,일,ARP1,ARP3,H,H1119,SEw4MDYz,D,...,13:54:00,N,NaN,N,NaN,2017-01-01,2017-01-01 13:35:00,2017-01-01 13:54:00,19,3
89,2017,1,1,일,ARP1,ARP3,A,A1931,SEw3NTk0,D,...,14:54:00,Y,C02,N,NaN,2017-01-01,2017-01-01 13:40:00,2017-01-01 14:54:00,74,4
90,2017,1,1,일,ARP1,ARP2,J,J1118,SEw4MjQ3,D,...,14:24:00,N,NaN,N,NaN,2017-01-01,2017-01-01 14:00:00,2017-01-01 14:24:00,24,1
91,2017,1,1,일,ARP1,ARP3,A,A1933,SEw4MjU2,D,...,14:30:00,N,NaN,N,NaN,2017-01-01,2017-01-01 14:00:00,2017-01-01 14:30:00,30,0
92,2017,1,1,일,ARP1,ARP3,J,J1224,SEw3NzUy,D,...,14:26:00,N,NaN,N,NaN,2017-01-01,2017-01-01 14:05:00,2017-01-01 14:26:00,21,0
93,2017,1,1,일,ARP1,ARP3,L,L1765,SEw4MDg2,D,...,15:52:00,Y,C02,N,NaN,2017-01-01,2017-01-01 14:20:00,2017-01-01 15:52:00,92,4
94,2017,1,1,일,ARP1,ARP3,J,J1226,SEw3NDYw,D,...,14:38:00,N,NaN,N,NaN,2017-01-01,2017-01-01 14:25:00,2017-01-01 14:38:00,13,2
95,2017,1,1,일,ARP1,ARP3,I,I1317,SEw3NTY0,D,...,14:44:00,N,NaN,N,NaN,2017-01-01,2017-01-01 14:25:00,2017-01-01 14:44:00,19,4
96,2017,1,1,일,ARP1,ARP2,B,B1817,SEw3NzUz,D,...,14:42:00,N,NaN,N,NaN,2017-01-01,2017-01-01 14:30:00,2017-01-01 14:42:00,12,3
97,2017,1,1,일,ARP1,ARP3,B,B1021,SEw4MjEz,D,...,14:47:00,N,NaN,N,NaN,2017-01-01,2017-01-01 14:35:00,2017-01-01 14:47:00,12,4
98,2017,1,1,일,ARP1,ARP3,F,F1217,SEw4Mjky,D,...,14:57:00,N,NaN,N,NaN,2017-01-01,2017-01-01 14:45:00,2017-01-01 14:57:00,12,0
99,2017,1,1,일,ARP1,ARP3,A,A1985,SEw3MjQ3,D,...,15:49:00,Y,C02,N,NaN,2017-01-01,2017-01-01 14:50:00,2017-01-01 15:49:00,59,4

In [28]:
sequence_ref = df_afsnt_sorted_d2.pivot_table(index = ['date','origin'], aggfunc = 'count', values = 'is_arrive')
sequence_ref_list = list(sequence_ref['is_arrive'].values)

In [29]:
# 링크의 경우 출발기준으로 진행하고 있는데
# 도착인 경우에는 어떻게 접근?
# 그냥 출도착 쌍에 맞게 진행?

sequence = []

for i in sequence_ref_list:
    sequence_range = list(range(i))
    sequence.append(sequence_range)
    
sequence = sum(sequence, [])
df_afsnt_sorted_d2['air_sequence'] = sequence

In [ ]:
df_afsnt_sorted_d2[['date','origin','sched_datetime','air_sequence']]

In [ ]:
# 공항 도착 time sequence 생성