In [40]:
from matplotlib import font_manager, rc  # 한글사용 matplotlib
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import csv
import codecs
import numpy as np
import datetime
import json
import tensorflow as tf
import jpype
from konlpy.tag import Okt
from IPython.core.interactiveshell import InteractiveShell
from pandas import DataFrame as df
InteractiveShell.ast_node_interactivity = 'all'
os.chdir("C:/Users/windd/pythondata")
%matplotlib inline
font_name = font_manager.FontProperties(
    fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [41]:
df_afsnt = pd.read_csv('bigcontest/2019빅콘테스트_퓨처스리그2/AFSNT.csv',engine='python',encoding='cp949')
df_afsnt["STT"] = pd.to_datetime(df_afsnt["STT"], format = "%H:%M").dt.time
df_afsnt["ATT"] = pd.to_datetime(df_afsnt["ATT"], format = "%H:%M").dt.time

df_afsnt = df_afsnt.rename(columns={ 
    "SDT_YY": "year", "SDT_MM":"month", "SDT_DD":"day",  "SDT_DY":"wday", 
    "ARP":"origin", "ODP":"dest", 
    "FLO":"airline", "FLT":"flight" ,"REG":"tailnum", 
    "AOD":"is_arrive", 
    "IRR":"is_regular", 
    "STT":"sched_time", "ATT":"real_time", 
    "DLY":"is_delay", "DRR":"cause_delay", 
    "CNL":"is_cancel", "CNR":"cause_cancel"
})
df_afsnt["date"] = pd.to_datetime(df_afsnt[["year", "month", "day"]])
df_afsnt["sched_datetime"] = pd.to_datetime(df_afsnt['date'].astype(str) + " " + df_afsnt["sched_time"].astype(str))
df_afsnt["real_datetime"] = pd.to_datetime(df_afsnt['date'].astype(str) + " " + df_afsnt["real_time"].astype(str))

# delay 변수 생성
temp = df_afsnt["real_datetime"] - df_afsnt["sched_datetime"] 
temp = pd.DataFrame(temp.dt.components)
df_afsnt["delay"] = temp['minutes'] + 60 * temp['hours'] + 1440 * temp['days']
del temp

df_afsnt.head()

,year,month,day,wday,origin,dest,airline,flight,tailnum,is_arrive,...,sched_time,real_time,is_delay,cause_delay,is_cancel,cause_cancel,date,sched_datetime,real_datetime,delay
0,2017,1,1,일,ARP3,ARP6,J,J1955,SEw3NzE4,D,...,10:05:00,10:32:00,N,NaN,N,NaN,2017-01-01,2017-01-01 10:05:00,2017-01-01 10:32:00,27
1,2017,1,1,일,ARP3,ARP6,J,J1954,SEw3NzE4,A,...,09:30:00,09:31:00,N,NaN,N,NaN,2017-01-01,2017-01-01 09:30:00,2017-01-01 09:31:00,1
2,2017,1,1,일,ARP3,ARP6,J,J1956,SEw3NzE4,A,...,12:45:00,13:03:00,N,NaN,N,NaN,2017-01-01,2017-01-01 12:45:00,2017-01-01 13:03:00,18
3,2017,1,1,일,ARP3,ARP6,J,J1957,SEw3NzE4,D,...,13:25:00,14:09:00,Y,C02,N,NaN,2017-01-01,2017-01-01 13:25:00,2017-01-01 14:09:00,44
4,2017,1,1,일,ARP3,ARP6,J,J1958,SEw3NzE4,A,...,16:10:00,16:31:00,N,NaN,N,NaN,2017-01-01,2017-01-01 16:10:00,2017-01-01 16:31:00,21

In [68]:
# 결항 데이터 제거
# tailnum 널값 제거 4개 정도임 결항 제거하면
# ARP1 -> ARP1 으로 가는 이상 데이터 제거
# 총 데이터는 979436개 

df_afsnt = df_afsnt[df_afsnt['is_cancel']=='N']
df_afsnt = df_afsnt[~(df_afsnt['tailnum'].isnull())]
df_afsnt = df_afsnt[~((df_afsnt['origin']=='ARP1') & (df_afsnt['dest']=='ARP1'))]
len(df_afsnt)

979436

In [69]:
df_afsnt.isnull().sum()

year                   0
month                  0
day                    0
wday                   0
origin                 0
dest                   0
airline                0
flight                 0
tailnum                0
is_arrive              0
is_regular             0
sched_time             0
real_time              0
is_delay               0
cause_delay       860504
is_cancel              0
cause_cancel      979436
date                   0
sched_datetime         0
real_datetime          0
delay                  0
dtype: int64

In [ ]:
# 파생변수 - 혼잡도

In [70]:
df_afsnt_d = df_afsnt[df_afsnt['is_arrive']=='D']
df_afsnt_a = df_afsnt[df_afsnt['is_arrive']=='A']

In [ ]:
# 연습용

test = df_afsnt_d.iloc[:1000]
test = test.sort_values(['origin','date','sched_time'])
test.index = list(range(len(test)))


base_time = datetime.timedelta(minutes=30)
congestion = []

for i in range(len(test)):
    
    airport = test['origin'][i]
    sched_time = test['sched_datetime'][i]
    lower_time = sched_time - base_time
    upper_time = sched_time + base_time
    congestion_cnt = 0
    num = [x if x >= 0 else 0 for x in [i-30]]
    num2 = [x if x <= (len(test)-30) else len(test) for x in [i+30]]
    
    
    for j in range(num[0], num2[0],1):
        if (airport == test['origin'][j]) and (lower_time <= test['sched_datetime'][j]) and (test['sched_datetime'][j] <= upper_time):
            congestion_cnt +=1
    congestion.append(congestion_cnt)

In [37]:
# 연습용

test = df_afsnt_a.iloc[:1000]
test = test.sort_values(['dest','date','sched_time'])
test.index = list(range(len(test)))


base_time = datetime.timedelta(minutes=30)
congestion = []

for i in range(len(test)):
    
    airport = test['dest'][i]
    sched_time = test['sched_datetime'][i]
    lower_time = sched_time - base_time
    upper_time = sched_time + base_time
    congestion_cnt = 0
    num = [x if x >= 0 else 0 for x in [i-30]]
    num2 = [x if x <= (len(test)-30) else len(test) for x in [i+30]]
    
    
    for j in range(num[0], num2[0],1):
        if (airport == test['dest'][j]) and (lower_time <= test['sched_datetime'][j]) and (test['sched_datetime'][j] <= upper_time):
            congestion_cnt +=1
    congestion.append(congestion_cnt)

In [39]:
test['congestion'] = congestion
test[['date','origin','dest','tailnum','sched_datetime','congestion']]

          date origin  dest   tailnum      sched_datetime  congestion
0   2017-01-01   ARP3  ARP1  SEw3Nzg1 2017-01-01 07:50:00           2
1   2017-01-01  ARP12  ARP1  SEw3NTY4 2017-01-01 07:55:00           2
2   2017-01-01   ARP9  ARP1  SEw3NTY5 2017-01-01 08:35:00           2
3   2017-01-01   ARP2  ARP1  SEw3NzA2 2017-01-01 08:55:00           4
4   2017-01-01   ARP3  ARP1  SEw3NzU3 2017-01-01 09:10:00           3
5   2017-01-01  ARP11  ARP1  SEw3NTY2 2017-01-01 09:20:00           4
6   2017-01-01   ARP3  ARP1  SEw3NzI0 2017-01-01 09:50:00           5
7   2017-01-01   ARP3  ARP1  SEw3NzU4 2017-01-01 09:55:00           4
8   2017-01-01   ARP3  ARP1  SEw3NTI1 2017-01-01 10:10:00           4
9   2017-01-01   ARP3  ARP1  SEw3NzA4 2017-01-01 10:15:00           4
10  2017-01-01   ARP3  ARP1  SEw3NzI3 2017-01-01 10:50:00           4
11  2017-01-01   ARP2  ARP1  SEw3NzE2 2017-01-01 10:55:00           4
12  2017-01-01   ARP5  ARP1  SEw3NTY4 2017-01-01 10:55:00           4
13  2017-01-01   ARP3  ARP1  SEw3NDYw 2017-01-01 11:05:00           4
14  2017-01-01   ARP2  ARP1  SEw3NzA2 2017-01-01 11:55:00           1
15  2017-01-01   ARP3  ARP1  SEw3NTY2 2017-01-01 12:40:00           1
16  2017-01-01   ARP3  ARP1  SEw3NzI0 2017-01-01 13:20:00           3
17  2017-01-01   ARP3  ARP1  SEw3NzU3 2017-01-01 13:35:00           5
18  2017-01-01   ARP3  ARP1  SEw3NTY5 2017-01-01 13:40:00           5
19  2017-01-01   ARP2  ARP1  SEw3NzU4 2017-01-01 13:55:00           5
20  2017-01-01   ARP5  ARP1  SEw3Nzg2 2017-01-01 14:05:00           6
21  2017-01-01   ARP3  ARP1  SEw3NzE2 2017-01-01 14:20:00           5
22  2017-01-01   ARP3  ARP1  SEw3NzA4 2017-01-01 14:30:00           5
23  2017-01-01   ARP3  ARP1  SEw3NTI1 2017-01-01 14:40:00           4
24  2017-01-01   ARP2  ARP1  SEw4MjQ3 2017-01-01 14:55:00           4
25  2017-01-01   ARP3  ARP1  SEw3NzUy 2017-01-01 15:15:00           3
26  2017-01-01   ARP3  ARP1  SEw3NDYw 2017-01-01 15:30:00           3
27  2017-01-01   ARP2  ARP1  SEw3NTY4 2017-01-01 15:55:00           3
28  2017-01-01   ARP9  ARP1  SEw3NTY2 2017-01-01 16:20:00           3
29  2017-01-01  ARP11  ARP1  SEw3NzU4 2017-01-01 16:50:00           5
..         ...    ...   ...       ...                 ...         ...
970 2017-01-05   ARP3  ARP8  SEw3NTY5 2017-01-05 10:50:00           1
971 2017-01-05   ARP3  ARP8  SEw3Nzg2 2017-01-05 14:00:00           1
972 2017-01-05   ARP3  ARP8  SEw3Nzg2 2017-01-05 17:10:00           1
973 2017-01-05   ARP3  ARP8  SEw3NzI2 2017-01-05 18:20:00           1
974 2017-01-05   ARP3  ARP8  SEw3NzE5 2017-01-05 20:25:00           1
975 2017-01-06   ARP3  ARP8  SEw3Nzg2 2017-01-06 10:50:00           1
976 2017-01-06   ARP3  ARP8  SEw3NzE5 2017-01-06 14:00:00           1
977 2017-01-06   ARP3  ARP8  SEw3Nzg2 2017-01-06 17:15:00           1
978 2017-01-06   ARP3  ARP8  SEw3NzE4 2017-01-06 18:20:00           1
979 2017-01-06   ARP3  ARP8  SEw3NTY5 2017-01-06 20:25:00           1
980 2017-01-07   ARP3  ARP8  SEw3NzE2 2017-01-07 18:20:00           1
981 2017-01-07   ARP3  ARP8  SEw3NzI4 2017-01-07 20:25:00           1
982 2017-01-01   ARP3  ARP9  SEw3NTY5 2017-01-01 10:05:00           1
983 2017-01-01   ARP1  ARP9  SEw3NTY2 2017-01-01 17:50:00           1
984 2017-01-01   ARP1  ARP9  SEw3Nzg1 2017-01-01 20:40:00           1
985 2017-01-02   ARP1  ARP9  SEw3NzU3 2017-01-02 10:55:00           1
986 2017-01-02   ARP3  ARP9  SEw3NTk5 2017-01-02 17:15:00           1
987 2017-01-02   ARP1  ARP9  SEw3NzU3 2017-01-02 19:25:00           1
988 2017-01-03   ARP1  ARP9  SEw3Nzg2 2017-01-03 10:55:00           1
989 2017-01-03   ARP3  ARP9  SEw3NzI2 2017-01-03 17:15:00           1
990 2017-01-03   ARP1  ARP9  SEw3NzU4 2017-01-03 19:25:00           1
991 2017-01-04   ARP1  ARP9  SEw3Nzg1 2017-01-04 10:55:00           1
992 2017-01-04   ARP3  ARP9  SEw3NTY5 2017-01-04 17:15:00           1
993 2017-01-04   ARP1  ARP9  SEw3NTY4 2017-01-04 19:25:00           1
994 2017-01-05   ARP1  ARP9  SEw3NTY4 2017-01-05 10:55:00           1
995 2017-01-05   ARP3  ARP9  SEw3NzE5 2017-01-05 17:15:00           1
996 2017-01-05   ARP1  ARP9  SEw3NTY2 2017-01-05 19:25:00           1
997 2017-01-06   ARP3  ARP9  SEw3NzE5 2017-01-06 10:05:00           1
998 2017-01-06   ARP1  ARP9  SEw3NTYw 2017-01-06 17:50:00           1
999 2017-01-06   ARP1  ARP9  SEw3Nzg2 2017-01-06 20:40:00           1

[1000 rows x 6 columns]

In [72]:
# 구하는 방식은 그대로 사용하면됨
# 다만 전처리하면서 제거되는 행들에 의해서 값이 변하기 때문에
# 나중에 다시 돌려야함
# 행의 출발예정 시간 기준으로 +- 30분 사이의 예정 비행기들을 카운드하여 혼잡도 계산

In [73]:
df_afsnt_d = df_afsnt_d.sort_values(['origin','date','sched_time'])
df_afsnt_d.index = list(range(len(df_afsnt_d)))

base_time = datetime.timedelta(minutes=30)
congestion_d = []

for i in range(len(df_afsnt_d)):
    
    airport = df_afsnt_d['origin'][i]
    sched_time = df_afsnt_d['sched_datetime'][i]
    lower_time = sched_time - base_time
    upper_time = sched_time + base_time
    congestion_cnt = 0
    num = [x if x >= 0 else 0 for x in [i-30]]
    num2 = [x if x <= (len(df_afsnt_d)-30) else len(df_afsnt_d) for x in [i+30]]
    
    for j in range(num[0], num2[0],1):
        if (airport == df_afsnt_d['origin'][j]) and (lower_time <= df_afsnt_d['sched_datetime'][j]) and (df_afsnt_d['sched_datetime'][j] <= upper_time):
            congestion_cnt +=1
    congestion_d.append(congestion_cnt)
    
df_afsnt_d['congestion'] = congestion_d

In [74]:
df_afsnt_a = df_afsnt_a.sort_values(['dest','date','sched_time'])
df_afsnt_a.index = list(range(len(df_afsnt_a)))

base_time = datetime.timedelta(minutes=30)
congestion_a = []

for i in range(len(df_afsnt_a)):
    
    airport = df_afsnt_a['dest'][i]
    sched_time = df_afsnt_a['sched_datetime'][i]
    lower_time = sched_time - base_time
    upper_time = sched_time + base_time
    congestion_cnt = 0
    num = [x if x >= 0 else 0 for x in [i-30]]
    num2 = [x if x <= (len(df_afsnt_a)-30) else len(df_afsnt_a) for x in [i+30]]
    
    for j in range(num[0], num2[0],1):
        if (airport == df_afsnt_a['dest'][j]) and (lower_time <= df_afsnt_a['sched_datetime'][j]) and (df_afsnt_a['sched_datetime'][j] <= upper_time):
            congestion_cnt +=1
    congestion_a.append(congestion_cnt)
    
df_afsnt_a['congestion'] = congestion_a

In [75]:
df_afsnt_d[['origin','dest','date','sched_time','congestion']].head(100)

   origin   dest       date sched_time  congestion
0    ARP1   ARP3 2017-01-01   06:10:00           8
1    ARP1   ARP3 2017-01-01   06:15:00          10
2    ARP1   ARP3 2017-01-01   06:20:00          10
3    ARP1   ARP3 2017-01-01   06:25:00          10
4    ARP1   ARP3 2017-01-01   06:30:00          13
5    ARP1   ARP3 2017-01-01   06:30:00          13
6    ARP1   ARP3 2017-01-01   06:40:00          14
7    ARP1   ARP3 2017-01-01   06:40:00          14
8    ARP1   ARP3 2017-01-01   06:45:00          13
9    ARP1   ARP3 2017-01-01   06:45:00          13
10   ARP1  ARP12 2017-01-01   07:00:00          13
11   ARP1   ARP3 2017-01-01   07:00:00          13
12   ARP1   ARP3 2017-01-01   07:00:00          13
13   ARP1   ARP3 2017-01-01   07:05:00          11
14   ARP1   ARP3 2017-01-01   07:20:00          10
15   ARP1   ARP3 2017-01-01   07:20:00          10
16   ARP1   ARP2 2017-01-01   07:30:00          13
17   ARP1   ARP9 2017-01-01   07:40:00          10
18   ARP1   ARP8 2017-01-01   07:40:00          10
19   ARP1  ARP15 2017-01-01   07:50:00          12
20   ARP1   ARP3 2017-01-01   07:55:00          10
21   ARP1   ARP3 2017-01-01   08:00:00          11
22   ARP1   ARP2 2017-01-01   08:00:00          11
23   ARP1   ARP3 2017-01-01   08:10:00          12
24   ARP1   ARP3 2017-01-01   08:15:00          11
25   ARP1   ARP3 2017-01-01   08:20:00          12
26   ARP1  ARP11 2017-01-01   08:30:00          13
27   ARP1   ARP3 2017-01-01   08:40:00          12
28   ARP1   ARP3 2017-01-01   08:40:00          12
29   ARP1   ARP3 2017-01-01   08:45:00          11
..    ...    ...        ...        ...         ...
70   ARP1   ARP3 2017-01-01   12:30:00          14
71   ARP1   ARP3 2017-01-01   12:35:00          14
72   ARP1   ARP2 2017-01-01   12:40:00          17
73   ARP1   ARP3 2017-01-01   12:45:00          17
74   ARP1   ARP3 2017-01-01   12:55:00          20
75   ARP1   ARP3 2017-01-01   12:55:00          20
76   ARP1   ARP2 2017-01-01   13:00:00          19
77   ARP1   ARP3 2017-01-01   13:05:00          18
78   ARP1   ARP5 2017-01-01   13:10:00          18
79   ARP1  ARP15 2017-01-01   13:10:00          18
80   ARP1   ARP3 2017-01-01   13:10:00          18
81   ARP1   ARP3 2017-01-01   13:15:00          17
82   ARP1   ARP3 2017-01-01   13:15:00          17
83   ARP1   ARP9 2017-01-01   13:20:00          16
84   ARP1   ARP3 2017-01-01   13:20:00          16
85   ARP1   ARP3 2017-01-01   13:25:00          16
86   ARP1   ARP3 2017-01-01   13:25:00          16
87   ARP1   ARP3 2017-01-01   13:35:00          16
88   ARP1   ARP3 2017-01-01   13:35:00          16
89   ARP1   ARP3 2017-01-01   13:40:00          15
90   ARP1   ARP2 2017-01-01   14:00:00          10
91   ARP1   ARP3 2017-01-01   14:00:00          10
92   ARP1   ARP3 2017-01-01   14:05:00          11
93   ARP1   ARP3 2017-01-01   14:20:00          10
94   ARP1   ARP3 2017-01-01   14:25:00          10
95   ARP1   ARP3 2017-01-01   14:25:00          10
96   ARP1   ARP2 2017-01-01   14:30:00          12
97   ARP1   ARP3 2017-01-01   14:35:00          10
98   ARP1   ARP3 2017-01-01   14:45:00          10
99   ARP1   ARP3 2017-01-01   14:50:00          11

[100 rows x 5 columns]

In [93]:
df_afsnt_a[['origin','dest','date','sched_time','congestion']].head(100)

   origin  dest       date sched_time  congestion
0    ARP3  ARP1 2017-01-01   07:15:00           7
1    ARP3  ARP1 2017-01-01   07:20:00           9
2    ARP3  ARP1 2017-01-01   07:25:00          11
3    ARP3  ARP1 2017-01-01   07:30:00          11
4    ARP3  ARP1 2017-01-01   07:35:00          12
5    ARP3  ARP1 2017-01-01   07:40:00          14
6    ARP3  ARP1 2017-01-01   07:45:00          14
7    ARP3  ARP1 2017-01-01   07:50:00          13
8    ARP3  ARP1 2017-01-01   07:50:00          13
9   ARP12  ARP1 2017-01-01   07:55:00          13
10   ARP3  ARP1 2017-01-01   07:55:00          13
11   ARP3  ARP1 2017-01-01   08:05:00          15
12   ARP3  ARP1 2017-01-01   08:10:00          14
13   ARP3  ARP1 2017-01-01   08:10:00          14
14   ARP2  ARP1 2017-01-01   08:25:00          11
15   ARP3  ARP1 2017-01-01   08:30:00           9
16   ARP8  ARP1 2017-01-01   08:30:00           9
17   ARP3  ARP1 2017-01-01   08:30:00           9
18   ARP9  ARP1 2017-01-01   08:35:00          10
19   ARP2  ARP1 2017-01-01   08:55:00          12
20   ARP3  ARP1 2017-01-01   09:05:00           8
21   ARP3  ARP1 2017-01-01   09:10:00           7
22   ARP3  ARP1 2017-01-01   09:15:00           8
23  ARP11  ARP1 2017-01-01   09:20:00           9
24   ARP3  ARP1 2017-01-01   09:25:00          11
25   ARP3  ARP1 2017-01-01   09:25:00          11
26   ARP3  ARP1 2017-01-01   09:45:00          12
27   ARP3  ARP1 2017-01-01   09:50:00          11
28   ARP3  ARP1 2017-01-01   09:55:00          11
29   ARP3  ARP1 2017-01-01   09:55:00          11
..    ...   ...        ...        ...         ...
70   ARP3  ARP1 2017-01-01   13:40:00          16
71   ARP3  ARP1 2017-01-01   13:45:00          16
72   ARP2  ARP1 2017-01-01   13:55:00          18
73   ARP3  ARP1 2017-01-01   13:55:00          18
74   ARP5  ARP1 2017-01-01   14:05:00          17
75   ARP3  ARP1 2017-01-01   14:05:00          17
76   ARP3  ARP1 2017-01-01   14:05:00          17
77   ARP3  ARP1 2017-01-01   14:10:00          16
78   ARP9  ARP1 2017-01-01   14:15:00          16
79   ARP3  ARP1 2017-01-01   14:20:00          16
80   ARP3  ARP1 2017-01-01   14:20:00          16
81   ARP3  ARP1 2017-01-01   14:25:00          17
82   ARP3  ARP1 2017-01-01   14:25:00          17
83   ARP3  ARP1 2017-01-01   14:30:00          15
84   ARP3  ARP1 2017-01-01   14:35:00          16
85   ARP3  ARP1 2017-01-01   14:40:00          13
86   ARP3  ARP1 2017-01-01   14:45:00          13
87   ARP3  ARP1 2017-01-01   14:50:00          12
88   ARP2  ARP1 2017-01-01   14:55:00          11
89   ARP3  ARP1 2017-01-01   15:05:00          11
90   ARP3  ARP1 2017-01-01   15:15:00          10
91   ARP2  ARP1 2017-01-01   15:25:00          10
92   ARP3  ARP1 2017-01-01   15:30:00          10
93   ARP3  ARP1 2017-01-01   15:30:00          10
94   ARP3  ARP1 2017-01-01   15:35:00          10
95   ARP3  ARP1 2017-01-01   15:40:00          10
96   ARP3  ARP1 2017-01-01   15:50:00          10
97   ARP2  ARP1 2017-01-01   15:55:00          13
98   ARP3  ARP1 2017-01-01   16:00:00          12
99   ARP3  ARP1 2017-01-01   16:10:00          10

[100 rows x 5 columns]

In [ ]:
# 파생변수 - 링크 데이터

In [77]:
df_afsnt_sorted_d = df_afsnt_d.sort_values(['date','tailnum','sched_datetime'])
df_afsnt_sorted_a = df_afsnt_a.sort_values(['date','tailnum','sched_datetime'])

In [78]:
df_afsnt_sorted_d.index = list(range(len(df_afsnt_sorted_d)))
len(df_afsnt_sorted_d)
len(df_afsnt_d)
len(df_afsnt_sorted_a)
len(df_afsnt_a)

489575

489575

489861

489861

In [79]:
df_afsnt_sorted_d.index = list(range(len(df_afsnt_sorted_d)))
link_ref_d = df_afsnt_sorted_d.pivot_table(index = ['date','tailnum'],aggfunc='count',values='is_arrive' )
link_ref_d.head(100)

link_ref_list_d = list(link_ref_d['is_arrive'].values)

                     is_arrive
date       tailnum
2017-01-01 SEw3MjQ3          8
           SEw3NDYw          6
           SEw3NTI1          6
           SEw3NTI2          1
           SEw3NTQw          4
           SEw3NTU3          8
           SEw3NTU4          8
           SEw3NTY0          8
           SEw3NTY2          8
           SEw3NTY4          8
           SEw3NTY5          8
           SEw3NTYw          2
           SEw3NTYz          9
           SEw3NTk0          9
           SEw3NTk5          4
           SEw3NzA0          1
           SEw3NzA1          4
           SEw3NzA2          7
           SEw3NzA4          7
           SEw3NzAz         10
           SEw3NzE2          8
           SEw3NzE4          8
           SEw3NzE5          8
           SEw3NzEz          2
           SEw3NzI0          4
           SEw3NzI1          4
           SEw3NzI2          1
           SEw3NzI3          7
           SEw3NzIy          2
           SEw3NzIz          7
...                        ...
           SEw4MjA1          8
           SEw4MjA3          8
           SEw4MjEz          6
           SEw4MjI0          2
           SEw4MjIx          1
           SEw4MjM1          4
           SEw4MjM2          8
           SEw4MjM3         10
           SEw4MjM5          5
           SEw4MjQ0          1
           SEw4MjQ2          1
           SEw4MjQ3          4
           SEw4MjQw          1
           SEw4MjQx          6
           SEw4MjU2          2
           SEw4MjUz          8
           SEw4MjY0          8
           SEw4MjY4          7
           SEw4MjYx          6
           SEw4Mjc3          1
           SEw4Mjc4          1
           SEw4Mjg5         10
           SEw4Mjk3          9
           SEw4Mjky          4
2017-01-02 SEw3MjQ3          8
           SEw3NDYw          1
           SEw3NTI1          6
           SEw3NTU3          8
           SEw3NTU4          6
           SEw3NTY0          8

[100 rows x 1 columns]

In [80]:
#linkdata - departure

link_d = []

for i in link_ref_list_d:
    link_range = list(range(i))
    link_d.append(link_range)
    
link_d = sum(link_d, [])
df_afsnt_sorted_d['link'] = link_d

In [81]:
df_afsnt_sorted_a.index = list(range(len(df_afsnt_sorted_a)))
len(df_afsnt_sorted_a)

link_ref_a = df_afsnt_sorted_a.pivot_table(index = ['date','tailnum'],aggfunc='count',values='is_arrive' )
link_ref_a.head(100)

link_ref_list_a = list(link_ref_a['is_arrive'].values)

489861

                     is_arrive
date       tailnum
2017-01-01 SEw3MjQ3          8
           SEw3NDYw          6
           SEw3NTI1          6
           SEw3NTQw          4
           SEw3NTU3          8
           SEw3NTU4          8
           SEw3NTY0          8
           SEw3NTY2          8
           SEw3NTY4          8
           SEw3NTY5          8
           SEw3NTYw          2
           SEw3NTYz          9
           SEw3NTk0          9
           SEw3NTk5          4
           SEw3NzA0          1
           SEw3NzA1          4
           SEw3NzA2          7
           SEw3NzA4          7
           SEw3NzAz         10
           SEw3NzE2          8
           SEw3NzE4          8
           SEw3NzE5          8
           SEw3NzEz          2
           SEw3NzI0          4
           SEw3NzI1          4
           SEw3NzI2          1
           SEw3NzI3          7
           SEw3NzIy          2
           SEw3NzIz          7
           SEw3NzM1          2
...                        ...
           SEw4MjA3          8
           SEw4MjEz          6
           SEw4MjI0          2
           SEw4MjIx          1
           SEw4MjM1          4
           SEw4MjM2          8
           SEw4MjM3         10
           SEw4MjM5          5
           SEw4MjQ0          1
           SEw4MjQ2          1
           SEw4MjQ3          4
           SEw4MjQw          1
           SEw4MjQx          6
           SEw4MjU2          2
           SEw4MjUz          8
           SEw4MjY0          8
           SEw4MjY4          7
           SEw4MjYx          6
           SEw4Mjc3          1
           SEw4Mjg5         10
           SEw4Mjk3          9
           SEw4Mjky          5
2017-01-02 SEw3MjQ3          8
           SEw3NTI1          6
           SEw3NTU3          8
           SEw3NTU4          6
           SEw3NTY0          8
           SEw3NTY2          4
           SEw3NTY4          8
           SEw3NTY5          8

[100 rows x 1 columns]

In [82]:
#linkdata - arrival

link_a = []

for i in link_ref_list_a:
    link_range = list(range(i))
    link_a.append(link_range)
    
link_a = sum(link_a, [])
df_afsnt_sorted_a['link'] = link_a

In [83]:
# 출발링크

df_afsnt_sorted_d[['date','origin','dest','tailnum','sched_datetime','link','is_arrive']].head(100)

         date origin   dest   tailnum      sched_datetime  link is_arrive
0  2017-01-01   ARP1   ARP3  SEw3MjQ3 2017-01-01 07:20:00     0         D
1  2017-01-01   ARP3   ARP1  SEw3MjQ3 2017-01-01 09:15:00     1         D
2  2017-01-01   ARP1   ARP3  SEw3MjQ3 2017-01-01 11:05:00     2         D
3  2017-01-01   ARP3   ARP1  SEw3MjQ3 2017-01-01 13:00:00     3         D
4  2017-01-01   ARP1   ARP3  SEw3MjQ3 2017-01-01 14:50:00     4         D
5  2017-01-01   ARP3   ARP1  SEw3MjQ3 2017-01-01 16:45:00     5         D
6  2017-01-01   ARP1   ARP3  SEw3MjQ3 2017-01-01 18:35:00     6         D
7  2017-01-01   ARP3   ARP1  SEw3MjQ3 2017-01-01 20:40:00     7         D
8  2017-01-01   ARP1   ARP3  SEw3NDYw 2017-01-01 09:55:00     0         D
9  2017-01-01   ARP3   ARP1  SEw3NDYw 2017-01-01 12:10:00     1         D
10 2017-01-01   ARP1   ARP3  SEw3NDYw 2017-01-01 14:25:00     2         D
11 2017-01-01   ARP3   ARP1  SEw3NDYw 2017-01-01 16:30:00     3         D
12 2017-01-01   ARP1   ARP3  SEw3NDYw 2017-01-01 18:40:00     4         D
13 2017-01-01   ARP3   ARP1  SEw3NDYw 2017-01-01 20:45:00     5         D
14 2017-01-01   ARP1   ARP3  SEw3NTI1 2017-01-01 09:00:00     0         D
15 2017-01-01   ARP3   ARP1  SEw3NTI1 2017-01-01 11:10:00     1         D
16 2017-01-01   ARP1   ARP3  SEw3NTI1 2017-01-01 13:35:00     2         D
17 2017-01-01   ARP3   ARP1  SEw3NTI1 2017-01-01 15:30:00     3         D
18 2017-01-01   ARP1   ARP3  SEw3NTI1 2017-01-01 18:05:00     4         D
19 2017-01-01   ARP3   ARP1  SEw3NTI1 2017-01-01 20:10:00     5         D
20 2017-01-01   ARP2  ARP15  SEw3NTI2 2017-01-01 10:40:00     0         D
21 2017-01-01   ARP2   ARP3  SEw3NTQw 2017-01-01 10:40:00     0         D
22 2017-01-01   ARP3   ARP1  SEw3NTQw 2017-01-01 13:35:00     1         D
23 2017-01-01   ARP1   ARP3  SEw3NTQw 2017-01-01 15:45:00     2         D
24 2017-01-01   ARP3   ARP2  SEw3NTQw 2017-01-01 18:10:00     3         D
25 2017-01-01   ARP6   ARP3  SEw3NTU3 2017-01-01 07:30:00     0         D
26 2017-01-01   ARP3   ARP6  SEw3NTU3 2017-01-01 09:10:00     1         D
27 2017-01-01   ARP6   ARP3  SEw3NTU3 2017-01-01 10:50:00     2         D
28 2017-01-01   ARP3   ARP6  SEw3NTU3 2017-01-01 12:30:00     3         D
29 2017-01-01   ARP6   ARP3  SEw3NTU3 2017-01-01 14:10:00     4         D
..        ...    ...    ...       ...                 ...   ...       ...
70 2017-01-01   ARP1   ARP3  SEw3NTY5 2017-01-01 17:00:00     5         D
71 2017-01-01   ARP3   ARP1  SEw3NTY5 2017-01-01 18:40:00     6         D
72 2017-01-01   ARP1   ARP3  SEw3NTY5 2017-01-01 20:45:00     7         D
73 2017-01-01   ARP2   ARP1  SEw3NTYw 2017-01-01 17:30:00     0         D
74 2017-01-01   ARP1   ARP2  SEw3NTYw 2017-01-01 19:40:00     1         D
75 2017-01-01   ARP1   ARP3  SEw3NTYz 2017-01-01 06:30:00     0         D
76 2017-01-01   ARP3   ARP1  SEw3NTYz 2017-01-01 08:10:00     1         D
77 2017-01-01   ARP1   ARP3  SEw3NTYz 2017-01-01 09:55:00     2         D
78 2017-01-01   ARP3   ARP2  SEw3NTYz 2017-01-01 11:40:00     3         D
79 2017-01-01   ARP2   ARP3  SEw3NTYz 2017-01-01 13:20:00     4         D
80 2017-01-01   ARP3   ARP6  SEw3NTYz 2017-01-01 15:10:00     5         D
81 2017-01-01   ARP6   ARP3  SEw3NTYz 2017-01-01 16:45:00     6         D
82 2017-01-01   ARP3   ARP1  SEw3NTYz 2017-01-01 18:30:00     7         D
83 2017-01-01   ARP1   ARP3  SEw3NTYz 2017-01-01 20:25:00     8         D
84 2017-01-01   ARP1   ARP3  SEw3NTk0 2017-01-01 06:40:00     0         D
85 2017-01-01   ARP3   ARP1  SEw3NTk0 2017-01-01 08:30:00     1         D
86 2017-01-01   ARP1   ARP3  SEw3NTk0 2017-01-01 10:10:00     2         D
87 2017-01-01   ARP3   ARP1  SEw3NTk0 2017-01-01 11:55:00     3         D
88 2017-01-01   ARP1   ARP3  SEw3NTk0 2017-01-01 13:40:00     4         D
89 2017-01-01   ARP3   ARP1  SEw3NTk0 2017-01-01 15:25:00     5         D
90 2017-01-01   ARP1   ARP3  SEw3NTk0 2017-01-01 17:10:00     6         D
91 2017-01-01   ARP3   ARP1  SEw3NTk0 2017-01-01 18:55:00     7         D
92 2017-01-01   ARP1   ARP3  SEw3NTk0 2017-01-01 20:40:00     8         D
93 2017-01-01   ARP2   ARP3  SEw3NTk5 2017-01-01 15:05:00     0         D
94 2017-01-01   ARP3   ARP6  SEw3NTk5 2017-01-01 16:45:00     1         D
95 2017-01-01   ARP6   ARP3  SEw3NTk5 2017-01-01 18:30:00     2         D
96 2017-01-01   ARP3   ARP6  SEw3NTk5 2017-01-01 20:35:00     3         D
97 2017-01-01   ARP2  ARP15  SEw3NzA0 2017-01-01 16:10:00     0         D
98 2017-01-01   ARP2   ARP3  SEw3NzA1 2017-01-01 07:10:00     0         D
99 2017-01-01   ARP3   ARP2  SEw3NzA1 2017-01-01 08:50:00     1         D

[100 rows x 7 columns]

In [84]:
# 도착 링크

df_afsnt_sorted_a[['date','origin','dest','tailnum','sched_datetime','link','is_arrive']].head(100)

         date origin  dest   tailnum      sched_datetime  link is_arrive
0  2017-01-01   ARP3  ARP1  SEw3MjQ3 2017-01-01 08:30:00     0         A
1  2017-01-01   ARP1  ARP3  SEw3MjQ3 2017-01-01 10:25:00     1         A
2  2017-01-01   ARP3  ARP1  SEw3MjQ3 2017-01-01 12:15:00     2         A
3  2017-01-01   ARP1  ARP3  SEw3MjQ3 2017-01-01 14:10:00     3         A
4  2017-01-01   ARP3  ARP1  SEw3MjQ3 2017-01-01 16:00:00     4         A
5  2017-01-01   ARP1  ARP3  SEw3MjQ3 2017-01-01 17:55:00     5         A
6  2017-01-01   ARP3  ARP1  SEw3MjQ3 2017-01-01 19:45:00     6         A
7  2017-01-01   ARP1  ARP3  SEw3MjQ3 2017-01-01 21:50:00     7         A
8  2017-01-01   ARP3  ARP1  SEw3NDYw 2017-01-01 11:05:00     0         A
9  2017-01-01   ARP1  ARP3  SEw3NDYw 2017-01-01 13:20:00     1         A
10 2017-01-01   ARP3  ARP1  SEw3NDYw 2017-01-01 15:30:00     2         A
11 2017-01-01   ARP1  ARP3  SEw3NDYw 2017-01-01 17:40:00     3         A
12 2017-01-01   ARP3  ARP1  SEw3NDYw 2017-01-01 19:45:00     4         A
13 2017-01-01   ARP1  ARP3  SEw3NDYw 2017-01-01 21:55:00     5         A
14 2017-01-01   ARP3  ARP1  SEw3NTI1 2017-01-01 10:10:00     0         A
15 2017-01-01   ARP1  ARP3  SEw3NTI1 2017-01-01 12:20:00     1         A
16 2017-01-01   ARP3  ARP1  SEw3NTI1 2017-01-01 14:40:00     2         A
17 2017-01-01   ARP1  ARP3  SEw3NTI1 2017-01-01 16:40:00     3         A
18 2017-01-01   ARP3  ARP1  SEw3NTI1 2017-01-01 19:15:00     4         A
19 2017-01-01   ARP1  ARP3  SEw3NTI1 2017-01-01 21:20:00     5         A
20 2017-01-01   ARP3  ARP2  SEw3NTQw 2017-01-01 11:35:00     0         A
21 2017-01-01   ARP1  ARP3  SEw3NTQw 2017-01-01 14:45:00     1         A
22 2017-01-01   ARP3  ARP1  SEw3NTQw 2017-01-01 16:55:00     2         A
23 2017-01-01   ARP2  ARP3  SEw3NTQw 2017-01-01 19:05:00     3         A
24 2017-01-01   ARP3  ARP6  SEw3NTU3 2017-01-01 08:35:00     0         A
25 2017-01-01   ARP6  ARP3  SEw3NTU3 2017-01-01 10:15:00     1         A
26 2017-01-01   ARP3  ARP6  SEw3NTU3 2017-01-01 11:55:00     2         A
27 2017-01-01   ARP6  ARP3  SEw3NTU3 2017-01-01 13:35:00     3         A
28 2017-01-01   ARP3  ARP6  SEw3NTU3 2017-01-01 15:15:00     4         A
29 2017-01-01   ARP1  ARP3  SEw3NTU3 2017-01-01 17:00:00     5         A
..        ...    ...   ...       ...                 ...   ...       ...
70 2017-01-01   ARP1  ARP3  SEw3NTY5 2017-01-01 19:50:00     6         A
71 2017-01-01   ARP3  ARP1  SEw3NTY5 2017-01-01 21:55:00     7         A
72 2017-01-01   ARP1  ARP2  SEw3NTYw 2017-01-01 18:25:00     0         A
73 2017-01-01   ARP2  ARP1  SEw3NTYw 2017-01-01 20:35:00     1         A
74 2017-01-01   ARP3  ARP1  SEw3NTYz 2017-01-01 07:35:00     0         A
75 2017-01-01   ARP1  ARP3  SEw3NTYz 2017-01-01 09:20:00     1         A
76 2017-01-01   ARP3  ARP1  SEw3NTYz 2017-01-01 11:05:00     2         A
77 2017-01-01   ARP2  ARP3  SEw3NTYz 2017-01-01 12:40:00     3         A
78 2017-01-01   ARP3  ARP2  SEw3NTYz 2017-01-01 14:20:00     4         A
79 2017-01-01   ARP6  ARP3  SEw3NTYz 2017-01-01 16:10:00     5         A
80 2017-01-01   ARP3  ARP6  SEw3NTYz 2017-01-01 17:50:00     6         A
81 2017-01-01   ARP1  ARP3  SEw3NTYz 2017-01-01 19:40:00     7         A
82 2017-01-01   ARP3  ARP1  SEw3NTYz 2017-01-01 21:35:00     8         A
83 2017-01-01   ARP3  ARP1  SEw3NTk0 2017-01-01 07:50:00     0         A
84 2017-01-01   ARP1  ARP3  SEw3NTk0 2017-01-01 09:35:00     1         A
85 2017-01-01   ARP3  ARP1  SEw3NTk0 2017-01-01 11:15:00     2         A
86 2017-01-01   ARP1  ARP3  SEw3NTk0 2017-01-01 13:00:00     3         A
87 2017-01-01   ARP3  ARP1  SEw3NTk0 2017-01-01 14:50:00     4         A
88 2017-01-01   ARP1  ARP3  SEw3NTk0 2017-01-01 16:35:00     5         A
89 2017-01-01   ARP3  ARP1  SEw3NTk0 2017-01-01 18:20:00     6         A
90 2017-01-01   ARP1  ARP3  SEw3NTk0 2017-01-01 20:05:00     7         A
91 2017-01-01   ARP3  ARP1  SEw3NTk0 2017-01-01 21:50:00     8         A
92 2017-01-01   ARP3  ARP2  SEw3NTk5 2017-01-01 16:00:00     0         A
93 2017-01-01   ARP6  ARP3  SEw3NTk5 2017-01-01 17:50:00     1         A
94 2017-01-01   ARP3  ARP6  SEw3NTk5 2017-01-01 19:30:00     2         A
95 2017-01-01   ARP6  ARP3  SEw3NTk5 2017-01-01 21:40:00     3         A
96 2017-01-01  ARP15  ARP2  SEw3NzA0 2017-01-01 17:15:00     0         A
97 2017-01-01   ARP3  ARP2  SEw3NzA1 2017-01-01 08:05:00     0         A
98 2017-01-01   ARP2  ARP3  SEw3NzA1 2017-01-01 09:45:00     1         A
99 2017-01-01  ARP15  ARP2  SEw3NzA1 2017-01-01 11:35:00     2         A

[100 rows x 7 columns]

In [85]:
# 공항 출발 time sequence 생성

df_afsnt_sorted_d2 = df_afsnt_sorted_d.sort_values(['date','origin','sched_datetime','real_datetime'])
df_afsnt_sorted_d2.index = list(range(len(df_afsnt_sorted_d2)))

# 공장 도착 time sequence 생성

df_afsnt_sorted_a2 = df_afsnt_sorted_a.sort_values(['date','dest','sched_datetime','real_datetime'])
df_afsnt_sorted_a2.index = list(range(len(df_afsnt_sorted_a2)))

In [86]:
# 출발

sequence_ref_d = df_afsnt_sorted_d2.pivot_table(index = ['date','origin'], aggfunc = 'count', values = 'is_arrive')
sequence_ref_list_d = list(sequence_ref_d['is_arrive'].values)

In [87]:
# 도착

sequence_ref_a = df_afsnt_sorted_a2.pivot_table(index = ['date','dest'], aggfunc = 'count', values = 'is_arrive')
sequence_ref_list_a = list(sequence_ref_a['is_arrive'].values)

In [88]:
# 출발 공항 sequence

sequence_d = []

for i in sequence_ref_list_d:
    sequence_range = list(range(i))
    sequence_d.append(sequence_range)
    
sequence_d = sum(sequence_d, [])
df_afsnt_sorted_d2['air_sequence'] = sequence_d

In [89]:
# 도착 공항 sequence

sequence_a = []

for i in sequence_ref_list_a:
    sequence_range = list(range(i))
    sequence_a.append(sequence_range)
    
sequence_a = sum(sequence_a, [])
df_afsnt_sorted_a2['air_sequence'] = sequence_a

In [90]:
df_afsnt_sorted_d2[['date','origin','dest','sched_datetime','tailnum','is_arrive','air_sequence']].head(100)

,date,origin,dest,sched_datetime,tailnum,is_arrive,air_sequence
0,2017-01-01,ARP1,ARP3,2017-01-01 06:10:00,SEw3Nzc2,D,0
1,2017-01-01,ARP1,ARP3,2017-01-01 06:15:00,SEw4MjM2,D,1
2,2017-01-01,ARP1,ARP3,2017-01-01 06:20:00,SEw4MjM3,D,2
3,2017-01-01,ARP1,ARP3,2017-01-01 06:25:00,SEw4MjA3,D,3
4,2017-01-01,ARP1,ARP3,2017-01-01 06:30:00,SEw4MDMx,D,4
5,2017-01-01,ARP1,ARP3,2017-01-01 06:30:00,SEw3NTYz,D,5
6,2017-01-01,ARP1,ARP3,2017-01-01 06:40:00,SEw4MDE1,D,6
7,2017-01-01,ARP1,ARP3,2017-01-01 06:40:00,SEw3NTk0,D,7
8,2017-01-01,ARP1,ARP3,2017-01-01 06:45:00,SEw3Nzcz,D,8
9,2017-01-01,ARP1,ARP3,2017-01-01 06:45:00,SEw3Nzg1,D,9
10,2017-01-01,ARP1,ARP3,2017-01-01 07:00:00,SEw4MDY1,D,10
11,2017-01-01,ARP1,ARP3,2017-01-01 07:00:00,SEw4MjM1,D,11
12,2017-01-01,ARP1,ARP12,2017-01-01 07:00:00,SEw3NTY4,D,12
13,2017-01-01,ARP1,ARP3,2017-01-01 07:05:00,SEw4MDM1,D,13
14,2017-01-01,ARP1,ARP3,2017-01-01 07:20:00,SEw3MjQ3,D,14
15,2017-01-01,ARP1,ARP3,2017-01-01 07:20:00,SEw3NzYx,D,15
16,2017-01-01,ARP1,ARP2,2017-01-01 07:30:00,SEw3NzIz,D,16
17,2017-01-01,ARP1,ARP8,2017-01-01 07:40:00,SEw3NzM3,D,17
18,2017-01-01,ARP1,ARP9,2017-01-01 07:40:00,SEw3NTY5,D,18
19,2017-01-01,ARP1,ARP15,2017-01-01 07:50:00,SEw4Mjc4,D,19
20,2017-01-01,ARP1,ARP3,2017-01-01 07:55:00,SEw4MjYx,D,20
21,2017-01-01,ARP1,ARP2,2017-01-01 08:00:00,SEw3NzA2,D,21
22,2017-01-01,ARP1,ARP3,2017-01-01 08:00:00,SEw3NzU3,D,22
23,2017-01-01,ARP1,ARP3,2017-01-01 08:10:00,SEw3NzAz,D,23
24,2017-01-01,ARP1,ARP3,2017-01-01 08:15:00,SEw4MDg2,D,24
25,2017-01-01,ARP1,ARP3,2017-01-01 08:20:00,SEw4MjA1,D,25
26,2017-01-01,ARP1,ARP11,2017-01-01 08:30:00,SEw3NTY2,D,26
27,2017-01-01,ARP1,ARP3,2017-01-01 08:40:00,SEw3Nzg5,D,27
28,2017-01-01,ARP1,ARP3,2017-01-01 08:40:00,SEw3NzI0,D,28
29,2017-01-01,ARP1,ARP3,2017-01-01 08:45:00,SEw3NTU4,D,29
...,...,...,...,...,...,...,...
70,2017-01-01,ARP1,ARP3,2017-01-01 12:30:00,SEw4MDg3,D,70
71,2017-01-01,ARP1,ARP3,2017-01-01 12:35:00,SEw4MDE0,D,71
72,2017-01-01,ARP1,ARP2,2017-01-01 12:40:00,SEw4MjA1,D,72
73,2017-01-01,ARP1,ARP3,2017-01-01 12:45:00,SEw4MDMy,D,73
74,2017-01-01,ARP1,ARP3,2017-01-01 12:55:00,SEw3Nzg4,D,74
75,2017-01-01,ARP1,ARP3,2017-01-01 12:55:00,SEw4MjM3,D,75
76,2017-01-01,ARP1,ARP2,2017-01-01 13:00:00,SEw3NzU4,D,76
77,2017-01-01,ARP1,ARP3,2017-01-01 13:05:00,SEw4MjA3,D,77
78,2017-01-01,ARP1,ARP15,2017-01-01 13:10:00,SEw4MDQ4,D,78
79,2017-01-01,ARP1,ARP5,2017-01-01 13:10:00,SEw3Nzg2,D,79
80,2017-01-01,ARP1,ARP3,2017-01-01 13:10:00,SEw4MjM2,D,80
81,2017-01-01,ARP1,ARP3,2017-01-01 13:15:00,SEw3NzE2,D,81
82,2017-01-01,ARP1,ARP3,2017-01-01 13:15:00,SEw4MjM5,D,82
83,2017-01-01,ARP1,ARP9,2017-01-01 13:20:00,SEw3NzM3,D,83
84,2017-01-01,ARP1,ARP3,2017-01-01 13:20:00,SEw4MjY4,D,84
85,2017-01-01,ARP1,ARP3,2017-01-01 13:25:00,SEw3NzA4,D,85
86,2017-01-01,ARP1,ARP3,2017-01-01 13:25:00,SEw4MDE1,D,86
87,2017-01-01,ARP1,ARP3,2017-01-01 13:35:00,SEw3NTI1,D,87
88,2017-01-01,ARP1,ARP3,2017-01-01 13:35:00,SEw4MDYz,D,88
89,2017-01-01,ARP1,ARP3,2017-01-01 13:40:00,SEw3NTk0,D,89
90,2017-01-01,ARP1,ARP2,2017-01-01 14:00:00,SEw4MjQ3,D,90
91,2017-01-01,ARP1,ARP3,2017-01-01 14:00:00,SEw4MjU2,D,91
92,2017-01-01,ARP1,ARP3,2017-01-01 14:05:00,SEw3NzUy,D,92
93,2017-01-01,ARP1,ARP3,2017-01-01 14:20:00,SEw4MDg2,D,93
94,2017-01-01,ARP1,ARP3,2017-01-01 14:25:00,SEw3NDYw,D,94
95,2017-01-01,ARP1,ARP3,2017-01-01 14:25:00,SEw3NTY0,D,95
96,2017-01-01,ARP1,ARP2,2017-01-01 14:30:00,SEw3NzUz,D,96
97,2017-01-01,ARP1,ARP3,2017-01-01 14:35:00,SEw4MjEz,D,97
98,2017-01-01,ARP1,ARP3,2017-01-01 14:45:00,SEw4Mjky,D,98
99,2017-01-01,ARP1,ARP3,2017-01-01 14:50:00,SEw3MjQ3,D,99

In [91]:
df_afsnt_sorted_a2[['date','origin','dest','sched_datetime','tailnum','is_arrive','air_sequence']].head(100)

,date,origin,dest,sched_datetime,tailnum,is_arrive,air_sequence
0,2017-01-01,ARP3,ARP1,2017-01-01 07:15:00,SEw3Nzc2,A,0
1,2017-01-01,ARP3,ARP1,2017-01-01 07:20:00,SEw4MjM2,A,1
2,2017-01-01,ARP3,ARP1,2017-01-01 07:25:00,SEw4MjM3,A,2
3,2017-01-01,ARP3,ARP1,2017-01-01 07:30:00,SEw4MjA3,A,3
4,2017-01-01,ARP3,ARP1,2017-01-01 07:35:00,SEw3NTYz,A,4
5,2017-01-01,ARP3,ARP1,2017-01-01 07:40:00,SEw4MDMx,A,5
6,2017-01-01,ARP3,ARP1,2017-01-01 07:45:00,SEw4MDE1,A,6
7,2017-01-01,ARP3,ARP1,2017-01-01 07:50:00,SEw3Nzg1,A,7
8,2017-01-01,ARP3,ARP1,2017-01-01 07:50:00,SEw3NTk0,A,8
9,2017-01-01,ARP3,ARP1,2017-01-01 07:55:00,SEw3Nzcz,A,9
10,2017-01-01,ARP12,ARP1,2017-01-01 07:55:00,SEw3NTY4,A,10
11,2017-01-01,ARP3,ARP1,2017-01-01 08:05:00,SEw4MDY1,A,11
12,2017-01-01,ARP3,ARP1,2017-01-01 08:10:00,SEw4MjM1,A,12
13,2017-01-01,ARP3,ARP1,2017-01-01 08:10:00,SEw4MDM1,A,13
14,2017-01-01,ARP2,ARP1,2017-01-01 08:25:00,SEw3NzIz,A,14
15,2017-01-01,ARP3,ARP1,2017-01-01 08:30:00,SEw3MjQ3,A,15
16,2017-01-01,ARP8,ARP1,2017-01-01 08:30:00,SEw3NzM3,A,16
17,2017-01-01,ARP3,ARP1,2017-01-01 08:30:00,SEw3NzYx,A,17
18,2017-01-01,ARP9,ARP1,2017-01-01 08:35:00,SEw3NTY5,A,18
19,2017-01-01,ARP2,ARP1,2017-01-01 08:55:00,SEw3NzA2,A,19
20,2017-01-01,ARP3,ARP1,2017-01-01 09:05:00,SEw4MjYx,A,20
21,2017-01-01,ARP3,ARP1,2017-01-01 09:10:00,SEw3NzU3,A,21
22,2017-01-01,ARP3,ARP1,2017-01-01 09:15:00,SEw3NzAz,A,22
23,2017-01-01,ARP11,ARP1,2017-01-01 09:20:00,SEw3NTY2,A,23
24,2017-01-01,ARP3,ARP1,2017-01-01 09:25:00,SEw4MDg2,A,24
25,2017-01-01,ARP3,ARP1,2017-01-01 09:25:00,SEw4MjA1,A,25
26,2017-01-01,ARP3,ARP1,2017-01-01 09:45:00,SEw3Nzg5,A,26
27,2017-01-01,ARP3,ARP1,2017-01-01 09:50:00,SEw3NzI0,A,27
28,2017-01-01,ARP3,ARP1,2017-01-01 09:55:00,SEw3NTU4,A,28
29,2017-01-01,ARP3,ARP1,2017-01-01 09:55:00,SEw3NzU4,A,29
...,...,...,...,...,...,...,...
70,2017-01-01,ARP3,ARP1,2017-01-01 13:40:00,SEw3NTY5,A,70
71,2017-01-01,ARP3,ARP1,2017-01-01 13:45:00,SEw4MDE0,A,71
72,2017-01-01,ARP2,ARP1,2017-01-01 13:55:00,SEw3NzU4,A,72
73,2017-01-01,ARP3,ARP1,2017-01-01 13:55:00,SEw4MDMy,A,73
74,2017-01-01,ARP3,ARP1,2017-01-01 14:05:00,SEw3Nzg4,A,74
75,2017-01-01,ARP5,ARP1,2017-01-01 14:05:00,SEw3Nzg2,A,75
76,2017-01-01,ARP3,ARP1,2017-01-01 14:05:00,SEw4MjM3,A,76
77,2017-01-01,ARP3,ARP1,2017-01-01 14:10:00,SEw4MjA3,A,77
78,2017-01-01,ARP9,ARP1,2017-01-01 14:15:00,SEw3NzM3,A,78
79,2017-01-01,ARP3,ARP1,2017-01-01 14:20:00,SEw3NzE2,A,79
80,2017-01-01,ARP3,ARP1,2017-01-01 14:20:00,SEw4MjM2,A,80
81,2017-01-01,ARP3,ARP1,2017-01-01 14:25:00,SEw4MjY4,A,81
82,2017-01-01,ARP3,ARP1,2017-01-01 14:25:00,SEw4MjM5,A,82
83,2017-01-01,ARP3,ARP1,2017-01-01 14:30:00,SEw3NzA4,A,83
84,2017-01-01,ARP3,ARP1,2017-01-01 14:35:00,SEw4MDE1,A,84
85,2017-01-01,ARP3,ARP1,2017-01-01 14:40:00,SEw3NTI1,A,85
86,2017-01-01,ARP3,ARP1,2017-01-01 14:45:00,SEw4MDYz,A,86
87,2017-01-01,ARP3,ARP1,2017-01-01 14:50:00,SEw3NTk0,A,87
88,2017-01-01,ARP2,ARP1,2017-01-01 14:55:00,SEw4MjQ3,A,88
89,2017-01-01,ARP3,ARP1,2017-01-01 15:05:00,SEw4MjU2,A,89
90,2017-01-01,ARP3,ARP1,2017-01-01 15:15:00,SEw3NzUy,A,90
91,2017-01-01,ARP2,ARP1,2017-01-01 15:25:00,SEw3NzUz,A,91
92,2017-01-01,ARP3,ARP1,2017-01-01 15:30:00,SEw3NDYw,A,92
93,2017-01-01,ARP3,ARP1,2017-01-01 15:30:00,SEw4MDg2,A,93
94,2017-01-01,ARP3,ARP1,2017-01-01 15:35:00,SEw3NTY0,A,94
95,2017-01-01,ARP3,ARP1,2017-01-01 15:40:00,SEw4MjEz,A,95
96,2017-01-01,ARP3,ARP1,2017-01-01 15:50:00,SEw4Mjky,A,96
97,2017-01-01,ARP2,ARP1,2017-01-01 15:55:00,SEw3NTY4,A,97
98,2017-01-01,ARP3,ARP1,2017-01-01 16:00:00,SEw3MjQ3,A,98
99,2017-01-01,ARP3,ARP1,2017-01-01 16:10:00,SEw3NzAz,A,99

In [94]:
len(df_afsnt)
len(df_afsnt_sorted_d2) +len(df_afsnt_sorted_a2)

979436

979436

In [96]:
df_afsnt_added = pd.concat([df_afsnt_sorted_d2, df_afsnt_sorted_a2],sort=False)

In [98]:
df_afsnt_added.to_excel('bigcontest/링크_시퀀스_혼잡도.xlsx')