In [1]:
from matplotlib import font_manager, rc  # 한글사용 matplotlib
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import csv
import codecs
import numpy as np
import datetime
import json
import tensorflow as tf
import jpype
from konlpy.tag import Okt
from IPython.core.interactiveshell import InteractiveShell
from pandas import DataFrame as df
InteractiveShell.ast_node_interactivity = 'all'
os.chdir("C:/Users/windd/pythondata")
%matplotlib inline
font_name = font_manager.FontProperties(
    fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
df_afsnt = pd.read_csv('bigcontest/2019빅콘테스트_퓨처스리그2/AFSNT.csv',engine='python',encoding='cp949')
df_afsnt["STT"] = pd.to_datetime(df_afsnt["STT"], format = "%H:%M").dt.time
df_afsnt["ATT"] = pd.to_datetime(df_afsnt["ATT"], format = "%H:%M").dt.time

df_afsnt = df_afsnt.rename(columns={ 
    "SDT_YY": "year", "SDT_MM":"month", "SDT_DD":"day",  "SDT_DY":"wday", 
    "ARP":"origin", "ODP":"dest", 
    "FLO":"airline", "FLT":"flight" ,"REG":"tailnum", 
    "AOD":"is_arrive", 
    "IRR":"is_regular", 
    "STT":"sched_time", "ATT":"real_time", 
    "DLY":"is_delay", "DRR":"cause_delay", 
    "CNL":"is_cancel", "CNR":"cause_cancel"
})
df_afsnt["date"] = pd.to_datetime(df_afsnt[["year", "month", "day"]])
df_afsnt["sched_datetime"] = pd.to_datetime(df_afsnt['date'].astype(str) + " " + df_afsnt["sched_time"].astype(str))
df_afsnt["real_datetime"] = pd.to_datetime(df_afsnt['date'].astype(str) + " " + df_afsnt["real_time"].astype(str))

# delay 변수 생성
temp = df_afsnt["real_datetime"] - df_afsnt["sched_datetime"] 
temp = pd.DataFrame(temp.dt.components)
df_afsnt["delay"] = temp['minutes'] + 60 * temp['hours'] + 1440 * temp['days']
del temp

df_afsnt.head()

,year,month,day,wday,origin,dest,airline,flight,tailnum,is_arrive,...,sched_time,real_time,is_delay,cause_delay,is_cancel,cause_cancel,date,sched_datetime,real_datetime,delay
0,2017,1,1,일,ARP3,ARP6,J,J1955,SEw3NzE4,D,...,10:05:00,10:32:00,N,NaN,N,NaN,2017-01-01,2017-01-01 10:05:00,2017-01-01 10:32:00,27
1,2017,1,1,일,ARP3,ARP6,J,J1954,SEw3NzE4,A,...,09:30:00,09:31:00,N,NaN,N,NaN,2017-01-01,2017-01-01 09:30:00,2017-01-01 09:31:00,1
2,2017,1,1,일,ARP3,ARP6,J,J1956,SEw3NzE4,A,...,12:45:00,13:03:00,N,NaN,N,NaN,2017-01-01,2017-01-01 12:45:00,2017-01-01 13:03:00,18
3,2017,1,1,일,ARP3,ARP6,J,J1957,SEw3NzE4,D,...,13:25:00,14:09:00,Y,C02,N,NaN,2017-01-01,2017-01-01 13:25:00,2017-01-01 14:09:00,44
4,2017,1,1,일,ARP3,ARP6,J,J1958,SEw3NzE4,A,...,16:10:00,16:31:00,N,NaN,N,NaN,2017-01-01,2017-01-01 16:10:00,2017-01-01 16:31:00,21

In [3]:
df_afsnt_added = pd.read_csv('bigcontest/링크_시퀀스_혼잡도.csv', engine = 'python')

In [4]:
# 공항 테이블
df_afsnt_added['origin'] = df_afsnt_added['origin'].replace({
    'ARP1': '김포',
    'ARP2': '김해',
    'ARP3': '제주',
    'ARP4': '대구',
    'ARP5': '울산',
    'ARP6': '청주',
    'ARP7': '무안',
    'ARP8': '광주',
    'ARP9': '여수',
    'ARP10': '양양',
    'ARP11': '포항',
    'ARP12': '사천',
    'ARP13': '군산',
    'ARP14': '원주',
    'ARP15': '인천',    
})
df_afsnt_added['dest'] = df_afsnt_added['dest'].replace({
    'ARP1': '김포',
    'ARP2': '김해',
    'ARP3': '제주',
    'ARP4': '대구',
    'ARP5': '울산',
    'ARP6': '청주',
    'ARP7': '무안',
    'ARP8': '광주',
    'ARP9': '여수',
    'ARP10': '양양',
    'ARP11': '포항',
    'ARP12': '사천',
    'ARP13': '군산',
    'ARP14': '원주',
    'ARP15': '인천',    
})

# 항공사 테이블 
df_afsnt_added['airline'] = df_afsnt_added['airline'].replace({
    'A': '아시아나', 
    'I': '진에어',
    'J': '대한항공', 
    'F': '이스타',
    'H': '제주항공', 
    'L': '티웨이',
    'B': '에어부산', 
    'M': '코리아익스프레스에어'
})

In [5]:
len(df_afsnt_added)

979436

In [6]:
# 링크테이블

df_afsnt_added_d = df_afsnt_added[df_afsnt_added['is_arrive']=='D']

link_table_d = df_afsnt_added_d.pivot_table(index=['origin','dest','link'],aggfunc='count',values='is_arrive')
link_table_d = link_table_d.reset_index(['origin','dest','link'])
link_table_d.columns = ['origin','dest','link','count']

df_afsnt_added_a = df_afsnt_added[df_afsnt_added['is_arrive']=='A']

link_table_a = df_afsnt_added_a.pivot_table(index=['origin','dest','link'],aggfunc='count',values='is_arrive')
link_table_a = link_table_a.reset_index(['origin','dest','link'])
link_table_a.columns = ['origin','dest','link','count']

In [7]:
# 출발일 경우
# 고민사항
# 현재 링크데이터는 출발과 도착으로 나뉘었다. 
# 원래 동일한게 맞지만 출도착 쌍이 맞지 않는 데이터가 있기 때문에 다르며
# 중심성 분석을 위해서 출발하는 경우를 대상으로 진행했음

In [8]:
# 중심성 분석 함수
# 가중치 고려

def get_degree_centrality(df,arp) :
    N = 15
    Z = df[df['origin']==arp]['count'].sum()
    D = Z/(N-1)
    return D

In [9]:
# 가중치 고려 x

def degree_centrality(df,arp):
    N =15
    a = df[df['origin']==arp]
    D = len((a['origin']+','+a['dest']).unique())/(N-1)
    return D

In [8]:
# 거리중심성 분석
# 어떤 테이블이 있을건데 이것은 출발 - 도착 - 거리를 보여주는 데이터프레임 = df_distance 

origin_dest_unique = (df_afsnt_added['origin']+','+df_afsnt_added['dest']).unique()

def get_distance_centrality(origin):
    N = 15
    df_distance2 = df_distance[df_distance['origin']==origin]
    df_distance2.index = list(range(len(df_distance2)))
    distance_sum = 0
    for i in range(len(df_distance2)):
        if (df_distance2['origin'][i]+','+df_distance2['dest'][i]) in origin_dest_unique :
            distance_sum += df_distance2['distance']
            
    distance_sum_inverse = (df_distance_sum)**(-1)
    distance_center = (N-1)*distacne_sum_inverse
    return distance_center

In [119]:
# 거리 중심성 분석

arp_list = list(link_table_d['origin'].unique())
center_distance = pd.DataFrame(data=arp_list,columns=['origin'])
D_list = []

for i in arp_list:
    D = get_distance_centrality(i)
    D_list.append(D)

center_distance['center_distance'] = D_list

center_distance.sort_values('center',ascending = False)

NameError: name 'get_distance_centrality' is not defined

In [10]:
len(((df_afsnt_added['origin']+','+df_afsnt_added['dest']).unique()))

84

In [11]:
# 중심성 분석 

arp_list = list(link_table_d['origin'].unique())
center_link = pd.DataFrame(data=arp_list,columns=['origin'])
D_list = []

for i in arp_list:
    D = get_degree_centrality(link_table_d, i)
    D_list.append(D)

center_link['degree_center'] = D_list

center_link.sort_values('degree_center',ascending = False)

   origin  degree_center
12     제주   13959.428571
2      김포   10998.500000
3      김해    4305.428571
13     청주    1225.357143
4      대구    1194.928571
0      광주    1175.571429
9      울산     569.285714
11     인천     477.142857
8      여수     447.714286
6      사천     169.928571
1      군산     146.642857
14     포항     122.214286
5      무안     112.000000
10     원주      65.071429
7      양양       0.428571

In [12]:
# 가중치 고려x

N =15
arp_list = list(link_table_d['origin'].unique())
center_link2= pd.DataFrame(data=arp_list,columns=['origin'])
D_list = []

for i in arp_list:
    D = degree_centrality(link_table_d, i)
    D_list.append(D)
    
center_link2['degree_center2'] = D_list
center_link2.sort_values(by='degree_center2',ascending=False)

   origin  degree_center2
2      김포        1.000000
12     제주        0.857143
3      김해        0.642857
0      광주        0.357143
4      대구        0.357143
5      무안        0.357143
13     청주        0.357143
9      울산        0.285714
11     인천        0.285714
6      사천        0.214286
7      양양        0.214286
8      여수        0.214286
1      군산        0.142857
10     원주        0.142857
14     포항        0.071429

In [13]:
center_link_total = pd.merge(center_link, center_link2)
center_link_total

   origin  degree_center  degree_center2
0      광주    1175.571429        0.357143
1      군산     146.642857        0.142857
2      김포   10998.500000        1.000000
3      김해    4305.428571        0.642857
4      대구    1194.928571        0.357143
5      무안     112.000000        0.357143
6      사천     169.928571        0.214286
7      양양       0.428571        0.214286
8      여수     447.714286        0.214286
9      울산     569.285714        0.285714
10     원주      65.071429        0.142857
11     인천     477.142857        0.285714
12     제주   13959.428571        0.857143
13     청주    1225.357143        0.357143
14     포항     122.214286        0.071429

In [14]:
ref_dict = {}

for i in range(len(center_link_total)):
    ref_dict[center_link_total['origin'][i]] = center_link_total['degree_center'][i]
    
ref_dict2 = {}
for i in range(len(center_link_total)):
    ref_dict2[center_link_total['origin'][i]] = center_link_total['degree_center2'][i]

In [15]:
df_afsnt_added2 = df_afsnt_added

df_afsnt_added2['degree_center'] = df_afsnt_added2['origin'].map(ref_dict)
df_afsnt_added2['degree_center2'] = df_afsnt_added2['origin'].map(ref_dict2)

In [16]:
df_afsnt_added2[['date','origin','dest','tailnum','sched_datetime','degree_center','degree_center2']]

,date,origin,dest,tailnum,sched_datetime,degree_center,degree_center2
0,2017-01-01 00:00:00,김포,제주,SEw3Nzc2,2017-01-01 06:10:00,10998.500000,1.000000
1,2017-01-01 00:00:00,김포,제주,SEw4MjM2,2017-01-01 06:15:00,10998.500000,1.000000
2,2017-01-01 00:00:00,김포,제주,SEw4MjM3,2017-01-01 06:20:00,10998.500000,1.000000
3,2017-01-01 00:00:00,김포,제주,SEw4MjA3,2017-01-01 06:25:00,10998.500000,1.000000
4,2017-01-01 00:00:00,김포,제주,SEw4MDMx,2017-01-01 06:30:00,10998.500000,1.000000
5,2017-01-01 00:00:00,김포,제주,SEw3NTYz,2017-01-01 06:30:00,10998.500000,1.000000
6,2017-01-01 00:00:00,김포,제주,SEw4MDE1,2017-01-01 06:40:00,10998.500000,1.000000
7,2017-01-01 00:00:00,김포,제주,SEw3NTk0,2017-01-01 06:40:00,10998.500000,1.000000
8,2017-01-01 00:00:00,김포,제주,SEw3Nzcz,2017-01-01 06:45:00,10998.500000,1.000000
9,2017-01-01 00:00:00,김포,제주,SEw3Nzg1,2017-01-01 06:45:00,10998.500000,1.000000
10,2017-01-01 00:00:00,김포,제주,SEw4MDY1,2017-01-01 07:00:00,10998.500000,1.000000
11,2017-01-01 00:00:00,김포,제주,SEw4MjM1,2017-01-01 07:00:00,10998.500000,1.000000
12,2017-01-01 00:00:00,김포,사천,SEw3NTY4,2017-01-01 07:00:00,10998.500000,1.000000
13,2017-01-01 00:00:00,김포,제주,SEw4MDM1,2017-01-01 07:05:00,10998.500000,1.000000
14,2017-01-01 00:00:00,김포,제주,SEw3MjQ3,2017-01-01 07:20:00,10998.500000,1.000000
15,2017-01-01 00:00:00,김포,제주,SEw3NzYx,2017-01-01 07:20:00,10998.500000,1.000000
16,2017-01-01 00:00:00,김포,김해,SEw3NzIz,2017-01-01 07:30:00,10998.500000,1.000000
17,2017-01-01 00:00:00,김포,광주,SEw3NzM3,2017-01-01 07:40:00,10998.500000,1.000000
18,2017-01-01 00:00:00,김포,여수,SEw3NTY5,2017-01-01 07:40:00,10998.500000,1.000000
19,2017-01-01 00:00:00,김포,인천,SEw4Mjc4,2017-01-01 07:50:00,10998.500000,1.000000
20,2017-01-01 00:00:00,김포,제주,SEw4MjYx,2017-01-01 07:55:00,10998.500000,1.000000
21,2017-01-01 00:00:00,김포,김해,SEw3NzA2,2017-01-01 08:00:00,10998.500000,1.000000
22,2017-01-01 00:00:00,김포,제주,SEw3NzU3,2017-01-01 08:00:00,10998.500000,1.000000
23,2017-01-01 00:00:00,김포,제주,SEw3NzAz,2017-01-01 08:10:00,10998.500000,1.000000
24,2017-01-01 00:00:00,김포,제주,SEw4MDg2,2017-01-01 08:15:00,10998.500000,1.000000
25,2017-01-01 00:00:00,김포,제주,SEw4MjA1,2017-01-01 08:20:00,10998.500000,1.000000
26,2017-01-01 00:00:00,김포,포항,SEw3NTY2,2017-01-01 08:30:00,10998.500000,1.000000
27,2017-01-01 00:00:00,김포,제주,SEw3Nzg5,2017-01-01 08:40:00,10998.500000,1.000000
28,2017-01-01 00:00:00,김포,제주,SEw3NzI0,2017-01-01 08:40:00,10998.500000,1.000000
29,2017-01-01 00:00:00,김포,제주,SEw3NTU4,2017-01-01 08:45:00,10998.500000,1.000000
...,...,...,...,...,...,...,...
979406,2019-06-30 00:00:00,제주,청주,SEw3NTYz,2019-06-30 20:30:00,13959.428571,0.857143
979407,2019-06-30 00:00:00,제주,청주,SEw3Nzgw,2019-06-30 20:35:00,13959.428571,0.857143
979408,2019-06-30 00:00:00,제주,청주,SEw4MDM2,2019-06-30 21:40:00,13959.428571,0.857143
979409,2019-06-30 00:00:00,제주,무안,SEw3Nzcy,2019-06-30 07:10:00,13959.428571,0.857143
979410,2019-06-30 00:00:00,제주,무안,SEw4MDk4,2019-06-30 07:30:00,13959.428571,0.857143
979411,2019-06-30 00:00:00,제주,광주,SEw3NTYy,2019-06-30 09:35:00,13959.428571,0.857143
979412,2019-06-30 00:00:00,제주,광주,SEw4MDk4,2019-06-30 10:25:00,13959.428571,0.857143
979413,2019-06-30 00:00:00,제주,광주,SEw3Nzc2,2019-06-30 10:45:00,13959.428571,0.857143
979414,2019-06-30 00:00:00,제주,광주,SEw3NzU3,2019-06-30 11:00:00,13959.428571,0.857143
979415,2019-06-30 00:00:00,제주,광주,SEw4MzMx,2019-06-30 11:05:00,13959.428571,0.857143
979416,2019-06-30 00:00:00,김포,광주,SEw3Nzcz,2019-06-30 11:55:00,10998.500000,1.000000
979417,2019-06-30 00:00:00,제주,광주,SEw4MDAw,2019-06-30 12:55:00,13959.428571,0.857143
979418,2019-06-30 00:00:00,제주,광주,SEw3Nzcy,2019-06-30 13:40:00,13959.428571,0.857143
979419,2019-06-30 00:00:00,제주,광주,SEw3NTY2,2019-06-30 14:25:00,13959.428571,0.857143
979420,2019-06-30 00:00:00,제주,광주,SEw4MDAw,2019-06-30 15:30:00,13959.428571,0.857143
979421,2019-06-30 00:00:00,제주,광주,SEw4MjM2,2019-06-30 15:30:00,13959.428571,0.857143
979422,2019-06-30 00:00:00,제주,광주,SEw4MzEz,2019-06-30 17:45:00,13959.428571,0.857143
979423,2019-06-30 00:00:00,김포,광주,SEw3Nzcy,2019-06-30 18:10:00,10998.500000,1.000000
979424,2019-06-30 00:00:00,제주,광주,SEw4MjM2,2019-06-30 18:55:00,13959.428571,0.857143
979425,2019-06-30 00:00:00,제주,광주,SEw4MzM3,2019-06-30 19:20:00,13959.428571,0.857143
979426,2019-06-30 00:00:00,제주,광주,SEw3NTk0,2019-06-30 20:15:00,13959.428571,0.857143
979427,2019-06-30 00:00:00,제주,광주,SEw3NzI4,2019-06-30 20:25:00,13959.428571,0.857143
979428,2019-06-30 00:00:00,제주,광주,SEw4MjQ0,2019-06-30 21:30:00,13959.428571,0.857143
979429,2019-06-30 00:00:00,제주,여수,SEw3MjAw,2019-06-30 10:10:00,13959.428571,0.857143
979430,2019-06-30 00:00:00,제주,여수,SEw4MjM2,2019-06-30 12:35:00,13959.428571,0.857143
979431,2019-06-30 00:00:00,김포,여수,SEw3Nzcz,2019-06-30 15:00:00,10998.500000,1.000000
979432,2019-06-30 00:00:00,제주,여수,SEw3NzM4,2019-06-30 16:50:00,13959.428571,0.857143
979433,2019-06-30 00:00:00,김포,여수,SEw4MDky,2019-06-30 18:05:00,10998.500000,1.000000
979434,2019-06-30 00:00:00,김포,여수,SEw3Nzcz,2019-06-30 18:45:00,10998.500000,1.000000
979435,2019-06-30 00:00:00,김포,여수,SEw3NzI2,2019-06-30 20:50:00,10998.500000,1.000000

In [69]:
distance = pd.read_csv('bigcontest/airport_distance.csv', encoding = 'cp949')

In [70]:
distance

   origin dest  distance_mile  distance_km
0      인천   김해         200.56       322.77
1      인천   대구         152.93       246.11
2      인천   무안         171.14       275.43
3      인천   울산         195.40       314.46
4      인천   제주         272.97       439.31
5      인천   청주          67.31       108.33
6      광주   김포         168.61       271.36
7      광주   제주         112.93       181.74
8      광주   인천         161.15       259.34
9      광주   무안          25.62        41.23
10     광주   김해         120.38        19.74
11     군산   제주         165.55       266.45
12     군산   김포         115.34       185.62
13     김포   제주         280.77       451.86
14     김포   사천         185.24       298.12
15     김포   김해         203.34       327.25
16     김포   광주         168.61       271.36
17     김포   여수         193.67       311.68
18     김포   인천           9.21        14.82
19     김포   포항         181.45       292.02
20     김포   울산         196.53       316.29
21     김포   대구         157.74       249.03
22     김포   청주          70.19       112.96
23     김포   무안         179.28       288.53
24     김포   양양         107.60       173.16
25     김포   군산         115.34       185.62
26     김포   원주          64.19       103.31
27     김해   제주         181.00       291.28
28     김해   인천         200.56       322.77
29     김해   대구          51.83        83.41
..    ...  ...            ...          ...
54     청주   인천          67.31       108.33
55     청주   김포          70.19       112.96
56     청주   김해         133.30       214.52
57     청주   대구          86.05       138.48
58     청주   여수         129.71       208.75
59     무안   제주         102.63       165.17
60     무안   김포         179.28       288.53
61     무안   인천         171.14       275.43
62     무안   김해         144.91       233.20
63     무안   광주          25.62        41.23
64     여수   제주         112.21       180.59
65     여수   김포         193.67       311.68
66     여수   청주         129.71       208.75
67     여수   김해          78.35       126.09
68     여수   인천         187.70       302.07
69     양양   김포         107.60       173.16
70     양양   인천         115.16       185.33
71     양양   김해         199.73       321.44
72     제주   김포         280.77       451.86
73     제주   대구         205.57       330.84
74     제주   청주         228.71       368.08
75     제주   광주         112.93       181.74
76     제주   김해         181.00       291.28
77     제주   원주         283.68       456.53
78     제주   군산         165.55       266.45
79     제주   여수         112.21       180.59
80     제주   울산         217.21       349.57
81     제주   사천         141.40       227.55
82     제주   무안         102.63       165.17
83     제주   인천         272.97       439.31

[84 rows x 4 columns]

In [71]:
distance['or_dest'] = distance['origin']+','+distance['dest']
df_afsnt_added2['origin_dest'] = df_afsnt_added2['origin']+','+df_afsnt_added2['dest']

In [72]:
ref_dict = {}

for i in range(len(distance)):
    ref_dict[distance['or_dest'][i]] = distance['distance_mile'][i]
    
ref_dict2 = {}

for i in range(len(distance)):
    ref_dict2[distance['or_dest'][i]] = distance['distance_km'][i]

df_afsnt_added2['distance_mile'] = df_afsnt_added2['origin_dest'].map(ref_dict)
df_afsnt_added2['distance_km'] = df_afsnt_added2['origin_dest'].map(ref_dict2)

In [76]:
len(distance[distance['origin']=='김포']['dest'])

14